<div class="mho-header-with-filter">
    <div [style.text-align]="textAlign">
        {{ header }}

        @if (!visible) {
            <mat-icon class="open-menu-icon" (click)="$event.preventDefault(); $event.stopPropagation(); displayFilter();">
                filter_alt
            </mat-icon>
        }
    </div>

    @if (visible) {
        <mat-form-field (click)="$event.stopPropagation();" class="short-bottom">
            <input #filter matInput [ngModel]="filterValue" (ngModelChange)="filterValueChange.next($event);" (focusout)="checkVisibility()">
        </mat-form-field>
    }
</div>
