@use 'variables';

.mho-active-citizens {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-height: 25px;
    overflow: hidden;

    &:hover {
        overflow: visible;
    }

    .citizen-avatar {
        position: relative;
        width: 25px;
        height: 25px;
        overflow: hidden;
        border-radius: 50%;
    }
}
