.mho-scrut {
    height: 100%;

    .info {
        display: flex;
        flex-wrap: wrap;

        .list {
            flex: 1;
            min-width: 400px;

            table {
                width: 100%;
            }
        }

        .charts {
            flex: 1;

            > div {
                canvas {
                    margin: auto;
                    min-width: 400px;
                    aspect-ratio: 1;
                }
            }
        }
    }
}
