<mat-card-header class="mho-expeditions-header">
    <mat-card-title>
        <ng-container i18n>Expéditions</ng-container>
        <button mat-icon-button type="button" (click)="shareExpeditionForum()" matTooltip="Copier au format forum" i18n-matTooltip>
            <mat-icon>share</mat-icon>
        </button>
        <mho-active-citizens [citizenList]="active_citizens_list()" [completeCitizenList]="all_citizens"></mho-active-citizens>
    </mat-card-title>
    <div class="actions">
        <mat-slide-toggle [(ngModel)]="edition_mode" (ngModelChange)="changeEditionMode()">
            <ng-container i18n>Mode édition</ng-container>
        </mat-slide-toggle>
    </div>
</mat-card-header>
<mat-card-content class="mho-expeditions">
    @if (all_citizens && all_items) {
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [(selectedIndex)]="selected_tab_index" (selectedTabChange)="changeTab($event)">
            @for (day of [].constructor(current_day + 1); track day_index; let day_index = $index) {
                <mat-tab label="Jour {{day_index + 1}}" i18n-label>
                    <ng-template matTabContent>
                        <div class="container">
                            <div class="header">
                                <h2><span i18n>Préinscrits&nbsp;:&nbsp;</span><span [innerHTML]="formatedPreRegistered"></span></h2>
                            </div>
                            @if (edition_mode && editable) {
                                <div class="actions">
                                    <div class="left-actions">
                                        <button mat-button type="button" (click)="addNewExpedition()" i18n>Créer une expédition</button>
                                        <div><span i18n>Places&nbsp;:&nbsp;</span>{{ spots }}/{{ all_citizens.length }}</div>
                                        <div style="display: flex; align-items: center">
                                            @if (preRegisteredJobs; as pre_registered_jobs) {
                                                @for (job of pre_registered_jobs; track job?.job; let i = $index) {
                                                    @if (job && job.job) {
                                                        {{ job.count }}&nbsp;<img [ngSrc]="HORDES_IMG_REPO + (job?.job | jobFromId)?.value?.img"
                                                                                  width="16" height="16">
                                                        @if (i < pre_registered_jobs.length - 1) {
                                                            &nbsp;
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="right-actions">
                                        @if (day_index + 1 >= this.current_day) {
                                            <button mat-icon-button type="button" [matMenuTriggerFor]="manageExpeditions">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #manageExpeditions="matMenu">
                                                <div mat-menu-item (click)="$event.preventDefault(); $event.stopPropagation()"
                                                     (keydown)="$event.stopPropagation()">
                                                    <mat-form-field [appearance]="'outline'" class="short-bottom" style="margin-top: 0.5em">
                                                        <mat-label i18n>Importer le jour</mat-label>
                                                        <input matInput #dayInput type="number" [min]="1" [max]="day - 1" [value]="selected_tab_index">
                                                        <div matSuffix>
                                                            <button mat-icon-button type="button"
                                                                    (click)="+dayInput.value > 1 && +dayInput.value < day ? importExpeditions(+dayInput.value) : undefined">
                                                                <mat-icon>save</mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-form-field>
                                                </div>
                                                <div mat-menu-item (click)="openReorganize()" i18n>Réorganiser</div>
                                            </mat-menu>
                                        }
                                    </div>
                                </div>
                            }
                            <mat-accordion class="content" [multi]="true">
                                @for (expedition of expeditions(); track expedition.id) {
                                    <mat-expansion-panel [ngClass]="['expedition', expedition.state]"
                                                         [expanded]="isDefaultExpanded(expedition)">
                                        <mat-expansion-panel-header class="header" (keydown.space)="$event.stopPropagation()">
                                            <div class="label">
                                                @if (edition_mode && editable) {
                                                    <mat-form-field [appearance]="'outline'" class="no-bottom compact-field" (click)="$event.stopPropagation()">
                                                        <mat-label i18n>Nom de l'expédition</mat-label>
                                                        <input matInput [(ngModel)]="expedition.label" (change)="saveExpedition(expedition)">
                                                    </mat-form-field>
                                                    <mat-form-field [appearance]="'outline'" class="no-bottom compact-field" (click)="$event.stopPropagation()">
                                                        <mat-label i18n>Points de contrôles requis</mat-label>
                                                        <input matInput type="number" [(ngModel)]="expedition.min_pdc" (change)="saveExpedition(expedition)">
                                                    </mat-form-field>
                                                } @else {
                                                    <h2>{{ expedition.label }}</h2>
                                                }
                                            </div>
                                            @if (edition_mode && editable) {
                                                <div class="actions" (click)="$event.stopPropagation()">
                                                    <mat-slide-toggle [ngModel]="expedition.state === 'ready'"
                                                                      (ngModelChange)="changeExpeditionState(expedition, $event);">
                                                        <ng-container i18n>Expédition prête</ng-container>
                                                    </mat-slide-toggle>
                                                    <button mat-icon-button type="button" matTooltip="Supprimer l'expédition" i18n-matTooltip
                                                            (click)="removeExpedition(expedition)">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </div>
                                            }
                                        </mat-expansion-panel-header>
                                        <div class="content">
                                            @for (expedition_part of expedition.parts; track expedition_part.id; let expedition_part_index = $index) {
                                                <div class="expedition-part">
                                                    <div class="expedition-part-header">
                                                        @if (expedition.parts.length > 1) {
                                                            <span i18n>Partie {{ expedition_part_index + 1 }}&nbsp;:&nbsp;</span>
                                                        }
                                                        @if (edition_mode && editable) {
                                                            <mat-form-field [appearance]="'outline'" class="no-bottom compact-field">
                                                                <mat-label i18n>Nom du tracé</mat-label>
                                                                <input matInput type="text" [(ngModel)]="expedition_part.path"
                                                                       (change)="saveExpeditionPart(expedition, expedition_part)">
                                                            </mat-form-field>
                                                        } @else {
                                                            <span [innerHTML]="expedition_part.path"></span>
                                                        }
                                                        <div class="expedition-compass">
                                                            <mho-compass-rose [(selectedScrutZone)]="expedition_part.direction"
                                                                              (selectedScrutZoneChange)="saveExpeditionPart(expedition, expedition_part)"
                                                                              [readonly]="!edition_mode || !editable"></mho-compass-rose>
                                                        </div>
                                                    </div>
                                                    <table class="expedition-table">
                                                        <thead>
                                                        <tr class="table-header">
                                                            @if (edition_mode && editable) {
                                                                <button mat-icon-button type="button" matTooltip="Supprimer la partie" i18n-matTooltip
                                                                        (click)="removeExpeditionPart(expedition_part)">
                                                                    <mat-icon>delete</mat-icon>
                                                                </button>
                                                            }
                                                            <td class="job" i18n>Métier</td>
                                                            <td class="pseudo">
                                                                <div i18n>Citoyen</div>
                                                            </td>
                                                            <td class="is-thirsty">
                                                                <div class="flex">
                                                                    <img [ngSrc]="HORDES_IMG_REPO + 'status/status_thirst1.gif'" [height]="16" [width]="16">
                                                                </div>
                                                            </td>
                                                            <td class="starts-7-ap">
                                                                <div class="flex">
                                                                    7
                                                                    <mho-icon-ap></mho-icon-ap>
                                                                </div>
                                                            </td>
                                                            <td class="pdc">
                                                                <div class="flex">
                                                                    <img [ngSrc]="HORDES_IMG_REPO + 'professions/shield.gif'" [height]="16" [width]="16">
                                                                    {{ expedition_part | totalPdc }}/{{ expedition.min_pdc || 0 }}
                                                                </div>
                                                            </td>
                                                            @if ((edition_mode || (expedition_part.citizens | someHeroicActionNeeded)) && editable) {
                                                                <td class="heroic" i18n>Action héroïque</td>
                                                            }
                                                            <td class="citizen-orders" i18n>Consignes perso</td>
                                                            <td class="bag" i18n>Sac</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (expedition_citizen of expedition_part.citizens; track expedition_citizen.id; let citizen_index = $index) {
                                                                <tr class="citizen">
                                                                    @if (edition_mode && editable) {
                                                                        <td class="action">
                                                                            <button mat-icon-button type="button" matTooltip="Supprimer la place"
                                                                                    i18n-matTooltip
                                                                                    (click)="removeCitizenFromPart(expedition_citizen)">
                                                                                <mat-icon>delete</mat-icon>
                                                                            </button>
                                                                        </td>
                                                                    }
                                                                    <td class="job">
                                                                        @if (edition_mode && editable && !expedition_citizen.citizen_id) {
                                                                            <mat-form-field [appearance]="'outline'" class="no-bottom compact-field">
                                                                                <mho-select [options]="all_citizens_job" [searchable]="false"
                                                                                            emptyOption
                                                                                            noLabel
                                                                                            [class]="'job-select'"
                                                                                            [bindLabel]="'value.label'"
                                                                                            [bindValue]="'key'"
                                                                                            [bindIcon]="'value.img'"
                                                                                            [(ngModel)]="expedition_citizen.preinscrit_job"
                                                                                            (ngModelChange)="edition_mode && editable && !expedition_citizen.citizen_id ? saveCitizen(expedition_part, expedition_citizen, expedition_part_index, expedition, citizen_index) : undefined"></mho-select>
                                                                            </mat-form-field>
                                                                        } @else if (expedition_citizen.preinscrit_job || (expedition_citizen.citizen_id | citizenFromId:all_citizens)?.job?.value?.img) {
                                                                            <img
                                                                                [ngSrc]="HORDES_IMG_REPO + ((expedition_citizen.preinscrit_job | jobFromId)?.value?.img || (expedition_citizen.citizen_id ? (expedition_citizen.citizen_id | citizenFromId:all_citizens)?.job?.value?.img : ''))"
                                                                                width="16" height="16">
                                                                        }
                                                                    </td>
                                                                    <td class="pseudo">
                                                                        @if (edition_mode && editable) {
                                                                            <mat-form-field [appearance]="'outline'" class="no-bottom compact-field">
                                                                                <mho-select [options]="all_citizens | citizensForExpe:expedition_citizen"
                                                                                            emptyOption
                                                                                            [bindLabel]="'name'"
                                                                                            [bindValue]="'id'"
                                                                                            [bindIcon]="'job.value.img'"
                                                                                            [(ngModel)]="expedition_citizen.citizen_id"
                                                                                            (ngModelChange)="expedition_citizen.preinscrit = !expedition_citizen.citizen_id; saveCitizen(expedition_part, expedition_citizen, expedition_part_index, expedition, citizen_index)"></mho-select>
                                                                            </mat-form-field>
                                                                        } @else if (expedition.state === 'ready' && !expedition_citizen.citizen_id && (!expedition_citizen.preinscrit_job || expedition_citizen.preinscrit_job === (me.id| citizenFromId:all_citizens)?.job?.key)) {
                                                                            <button mat-button
                                                                                    (click)="expedition_citizen.citizen_id = me.id; saveCitizen(expedition_part, expedition_citizen, expedition_part_index, expedition, citizen_index)">
                                                                                <ng-container i18n>M'inscrire ici</ng-container>
                                                                            </button>
                                                                        } @else {
                                                                            {{ expedition_citizen.citizen_id ? (expedition_citizen.citizen_id | citizenFromId:all_citizens)?.name : '' }}
                                                                        }
                                                                    </td>
                                                                    <td class="is-thirsty">
                                                                        @if (edition_mode && editable) {
                                                                            <mat-checkbox
                                                                                [checked]="expedition_citizen.is_preinscrit_soif"
                                                                                [indeterminate]="expedition_citizen.is_preinscrit_soif === undefined || expedition_citizen.is_preinscrit_soif === null"
                                                                                (click)="this.changeThirstyMode(expedition_citizen); saveCitizen(expedition_part, expedition_citizen)"></mat-checkbox>
                                                                        } @else if (expedition.state === 'ready' && editable) {
                                                                            <mat-checkbox
                                                                                [checked]="expedition_citizen.is_thirsty"
                                                                                (click)="this.changeThirstyMode(expedition_citizen); saveCitizen(expedition_part, expedition_citizen)"></mat-checkbox>
                                                                        } @else if (expedition_citizen.is_preinscrit_soif !== undefined && expedition_citizen.is_preinscrit_soif !== null) {
                                                                            @if (expedition_citizen.is_preinscrit_soif) {
                                                                                <ng-container i18n>Oui</ng-container>
                                                                            } @else {
                                                                                <ng-container i18n>Non</ng-container>
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td class="starts-7-ap">
                                                                        @if (edition_mode && editable) {
                                                                            <mat-checkbox [checked]="expedition_citizen.starts_7_ap"
                                                                                          [indeterminate]="(expedition_citizen.starts_7_ap === undefined || expedition_citizen.starts_7_ap === null) && edition_mode && editable"
                                                                                          (click)="this.change7ApMode(expedition_citizen); saveCitizen(expedition_part, expedition_citizen)"></mat-checkbox>
                                                                        } @else if (expedition_citizen.starts_7_ap !== undefined && expedition_citizen.starts_7_ap !== null) {
                                                                            @if (expedition_citizen.starts_7_ap) {
                                                                                <ng-container i18n>Oui</ng-container>
                                                                            } @else {
                                                                                <ng-container i18n>Non</ng-container>
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td class="pdc">
                                                                        @if ((edition_mode || expedition.state === 'ready') && editable) {
                                                                            <mat-form-field [appearance]="'outline'" class="no-bottom compact-field">
                                                                                <input matInput [(ngModel)]="expedition_citizen.pdc"
                                                                                       (change)="saveCitizen(expedition_part, expedition_citizen)">
                                                                            </mat-form-field>
                                                                        } @else {
                                                                            {{ expedition_citizen.pdc }}
                                                                        }
                                                                    </td>
                                                                    @if ((edition_mode || (expedition_part.citizens | someHeroicActionNeeded)) && editable) {
                                                                        <td class="heroic">
                                                                            @if (edition_mode && editable) {
                                                                                <mat-form-field [appearance]="'outline'" class="no-bottom compact-field">
                                                                                    <mho-select [options]="all_heroics"
                                                                                                emptyOption
                                                                                                [(ngModel)]="expedition_citizen.preinscrit_heroic_skill"
                                                                                                (ngModelChange)="saveCitizen(expedition_part, expedition_citizen)"
                                                                                                [bindLabel]="'value.label'"
                                                                                                [bindValue]="'value.action'"
                                                                                                [bindIcon]="'value.img'"></mho-select>
                                                                                </mat-form-field>
                                                                            } @else {
                                                                                {{ expedition_citizen.preinscrit_heroic_skill ? expedition_citizen.preinscrit_heroic_skill : '' }}
                                                                            }
                                                                        </td>
                                                                    }
                                                                    <td class="citizen-orders">
                                                                        @if (edition_mode && editable) {
                                                                            <ng-container
                                                                                *ngTemplateOutlet="displayOrder; context: {$implicit: expedition_citizen.orders}"></ng-container>
                                                                            <button mat-icon-button type="button"
                                                                                    (click)="openExpeditionOrders(expedition_citizen.orders, expedition_citizen)">
                                                                                <mat-icon>edit</mat-icon>
                                                                            </button>
                                                                        } @else {
                                                                            <ng-container
                                                                                *ngTemplateOutlet="displayOrder; context: {$implicit: expedition_citizen.orders}"></ng-container>
                                                                        }
                                                                    </td>
                                                                    <td class="bag">
                                                                        <mho-list-element-add-remove [currentList]="expedition_citizen.bag.items"
                                                                                                     label="Sac" i18n-label
                                                                                                     [lists]="objectsList"
                                                                                                     addLabel="Ajouter au sac" i18n-addLabel
                                                                                                     (add)="addItem(expedition_citizen, +$event)"
                                                                                                     removeLabel="Retirer du sac" i18n-removeLabel
                                                                                                     (remove)="removeItem(expedition_citizen, +$event)"
                                                                                                     emptyLabel="Vider le sac" i18n-emptyLabel
                                                                                                     (empty)="emptyBag(expedition_citizen)"
                                                                                                     [readonly]="!edition_mode || !editable"
                                                                                                     [class]="'mho-expedition-bag-selector'">
                                                                        </mho-list-element-add-remove>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                        @if (edition_mode && editable) {
                                                            <tfoot>
                                                            <tr>
                                                                <td [attr.colspan]="'100%'">
                                                                    <button mat-button (click)="addNewMemberToPart(expedition_part)">
                                                                        <mat-icon>add</mat-icon>
                                                                        <ng-container i18n>Ajouter une place</ng-container>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            </tfoot>
                                                        }
                                                    </table>
                                                    <div class="orders">
                                                        <h3 style="display: flex;align-items: center;">
                                                            <ng-container i18n>Consignes de l'expédition</ng-container>
                                                            @if (edition_mode && editable) {
                                                                <button mat-icon-button type="button"
                                                                        (click)="openExpeditionOrders(expedition_part.orders, expedition_part)">
                                                                    <mat-icon>edit</mat-icon>
                                                                </button>
                                                            }
                                                        </h3>
                                                        @if (edition_mode && editable) {
                                                            <ng-container
                                                                *ngTemplateOutlet="displayOrder; context: {$implicit: expedition_part.orders}"></ng-container>
                                                        } @else {
                                                            <ng-container
                                                                *ngTemplateOutlet="displayOrder; context: {$implicit: expedition_part.orders}"></ng-container>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            <ng-template #displayOrder let-orders>
                                                @if (orders.length > 0) {
                                                    @for (order of orders; track order.id) {
                                                        <div>
                                                            @switch (order.type) {
                                                                @case ('text') {
                                                                    <span [innerHTML]="order.text"></span>
                                                                }
                                                                @case ('checkbox') {
                                                                    <mat-checkbox [checked]="order.is_done" (change)="saveOrder(order, $event)"
                                                                                  [disabled]="!editable">
                                                                        <span [class.checked]="order.is_done" [innerHTML]="order.text"></span>
                                                                    </mat-checkbox>
                                                                }
                                                            }
                                                        </div>
                                                    }
                                                } @else {
                                                    <div class="no-order">Pas de consigne.</div>
                                                }
                                            </ng-template>
                                        </div>
                                        @if (edition_mode && editable) {
                                            <div class="footer">
                                                <button mat-button type="button" (click)="addNewExpeditionPart(expedition)">
                                                    <ng-container i18n>Ajouter une partie à l'expédition</ng-container>
                                                </button>
                                                @if (expedition.parts.length > 1) {
                                                    <button mat-button type="button" (click)="addNewMemberToExpedition(expedition)">
                                                        <ng-container i18n>Ajouter un membre à l'expédition</ng-container>
                                                    </button>
                                                }
                                            </div>
                                        }
                                    </mat-expansion-panel>
                                }
                            </mat-accordion>
                        </div>
                    </ng-template>
                </mat-tab>
            }
        </mat-tab-group>
    }
</mat-card-content>
