@use 'variables';

.mho-expeditions-header {
    justify-content: space-between;

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


.mho-expeditions {

    .container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        height: 100%;

        > .header {
            h2 {
                margin-bottom: 0;
            }
        }

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .left-actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;
            }

            .right-actions {

            }
        }

        > .content {
            flex: 1;
            overflow: auto;

            .expedition {
                background-color: variables.$accented-background-color;

                &:not(.mat-expansion-panel-spacing) {
                    margin-bottom: 0.5em;
                }

                .mat-expansion-panel-header {
                    height: unset !important;
                    min-height: var(--mat-expansion-header-expanded-state-height);
                }

                border-left-style: solid;

                &.ready {
                    border-left-color: green;
                }

                &.stop {
                    border-left-color: red;
                }

                .header > .mat-content {
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 0.5em;

                    .label {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 0.5em;
                    }

                    .actions {
                    }
                }

                .content {

                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;

                    .expedition-part {
                        border: 1px solid variables.$primary;
                        border-radius: 0.25em;
                        overflow: auto;
                        padding: 0 0.5em;

                        .expedition-part-header {
                            padding: 0.5em 0.5em 0.25em;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.5em;

                            > .expedition-compass {
                                width: 40px;
                                height: 40px;
                                transform: scale(0.4) translateY(-80px);;
                            }
                        }

                        table.expedition-table {

                            width: 100%;
                            border-spacing: 0;
                            border-collapse: collapse;


                            .mat-mdc-icon-button {
                                --mdc-icon-button-state-layer-size: 36px;
                                padding: 6px;

                                .mat-mdc-button-touch-target {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            tr {
                                border-bottom: 1px solid var(--primary);

                                &.citizen, &.table-header {

                                    td > div.flex {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        gap: 0.5em;
                                    }

                                    .action {
                                        width: 36px;
                                    }

                                    .job {
                                        width: 60px;

                                        .mat-mdc-form-field {
                                            width: 60px;
                                        }
                                    }

                                    .pseudo {
                                        width: 100px;
                                    }

                                    .is-thirsty, .starts-7-ap {
                                        width: 40px;
                                        text-align: center;

                                        > div {
                                            align-items: center;
                                            justify-content: center;
                                        }
                                    }

                                    .starts-7-ap {
                                        .flex {
                                            gap: 0;
                                        }
                                    }

                                    .pdc {
                                        width: 50px;

                                        > div {
                                            gap: 0;
                                        }

                                        .mat-mdc-form-field {
                                            width: 60px;
                                        }
                                    }

                                    .citizen-orders {
                                        padding: 0 0.5em;

                                        .no-order {
                                            display: none;
                                        }

                                        .checked {
                                            text-decoration: line-through !important;
                                        }
                                    }

                                    .bag {

                                    }
                                }

                                &.citizen {
                                    .job {
                                        text-align: center;
                                    }
                                }

                                &.table-header {
                                    .pseudo {
                                        > div {
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-between;
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        }

                        .orders {
                            padding: 0.25em 0.5em 0.5em;

                            .no-order {
                                color: rgba(0, 0, 0, 0.75);
                                font-weight: bold;
                                font-style: italic;
                            }

                            .checked {
                                text-decoration: line-through !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mho-expedition-bag-selector {
    width: 325px;
    max-width: 325px;

    .mat-mdc-tab-group {
        width: 100%;
    }

    .mat-mdc-tab-body-wrapper {
        max-height: 300px;
    }
}

.job-select {
    width: 100px;
    min-width: 100px;
}
