.mho-recipes {
    display: flex;
    flex-direction: column;

    table {
        width: 100%;
        flex: 1;

        .mat-cell {
            padding: 0.5em;
        }

        img {
            vertical-align: middle;
        }

        td {
            div {

                &.provoking {
                    border: 1px dashed;
                    padding: 0 0.5em 0 0;
                }

                > img {
                    margin-right: 0.5em;
                }
            }
        }
    }
}
