<mat-card-header>
    <mat-card-title i18n>Recettes</mat-card-title>
</mat-card-header>
<mat-card-content class="mho-recipes">
    @if (recipes) {
        <div>
            <div class="table-filters">
                <mho-filter (filterChange)="applyFilter($event)"></mho-filter>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <table [dataSource]="datasource" mat-table matSort>
                @for (column of columns; track column.id) {
                    <ng-container [matColumnDef]="column.id" [sticky]="column.sticky || false">
                        <th *matHeaderCellDef mat-header-cell>{{ column.header }}</th>
                        <td *matCellDef="let row" mat-cell>
                            @switch (column.id) {
                                @case ('type') {
                                    <div>
                                        @switch (row[column.id]) {
                                            @case ('Recipe::ManualAnywhere') {
                                                <img [ngSrc]="HORDES_IMG_REPO + 'log/citizen.gif'" height="16" width="16"/>
                                                <ng-container i18n>Action de citoyen</ng-container>
                                            }
                                            @case ('Recipe::ManualInside') {
                                                <img [ngSrc]="HORDES_IMG_REPO + 'log/citizen.gif'" height="16" width="16"/>
                                                <ng-container i18n>Action de citoyen (en ville)</ng-container>
                                            }
                                            @case ('Recipe::ManualOutside') {
                                                <img [ngSrc]="HORDES_IMG_REPO + 'log/citizen.gif'" height="16" width="16"/>
                                                <ng-container i18n>Action de citoyen (dans l'Outre-Monde)</ng-container>
                                            }
                                            @case ('Recipe::WorkshopTypeTechSpecific') {
                                                <img [ngSrc]="HORDES_IMG_REPO + 'building/small_techtable.gif'" height="16" width="16"/>
                                                <ng-container i18n>Établi des Techniciens</ng-container>
                                            }
                                            @case ('Recipe::WorkshopType') {
                                                <img [ngSrc]="HORDES_IMG_REPO + 'log/workshop.gif'" height="16" width="16"/>
                                                <ng-container i18n>Atelier</ng-container>
                                            }
                                            @case ('Recipe::WorkshopTypeShamanSpecific') {
                                                <img [ngSrc]="HORDES_IMG_REPO + 'log/workshop.gif'" height="16" width="16"/>
                                                <ng-container i18n>Atelier, Chaman uniquement</ng-container>
                                            }
                                        }
                                    </div>
                                }
                                @case ('components') {
                                    @for (component of row[column.id]; track component) {
                                        <div [class.provoking]="component.id === row['provoking']?.id"><img [ngSrc]="HORDES_IMG_REPO + component.img"
                                                                                                            height="16"
                                                                                                            width="16"/>{{ component.label[locale] }}
                                        </div>
                                    }
                                }
                                @case ('transformation') {
                                    <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_move.gif'" height="16" width="16"/>
                                }
                                @case ('result') {
                                    @for (result of row[column.id]; track result) {
                                        <div>
                                            <img [ngSrc]="HORDES_IMG_REPO + result.item.img" height="16" width="16"/>
                                            {{ result.item.label[locale] }}
                                            @if (result.probability !== 1) {
                                                <small>({{ result.probability * 100 | number : '1.0-2' : locale }}%)</small>
                                            }
                                        </div>
                                    }
                                }
                            }
                        </td>
                    </ng-container>
                }
                <!-- Footer -->
                <tr *matHeaderRowDef="columns | ids; sticky: true" mat-header-row></tr>
                <tr *matRowDef="let row; columns: columns | ids" mat-row></tr>
            </table>
        </div>
    }
</mat-card-content>
