<mat-card-header>
    <mat-card-title i18n>Recettes</mat-card-title>
</mat-card-header>
<mat-card-content class="mho-recipes">
    @if (recipes) {
        <div>
            <div class="table-filters">
                <mho-filter (filterChange)="applyFilter($event)"></mho-filter>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="datasource" matSort>
                @for (column of columns; track column.id) {
                    <ng-container [matColumnDef]="column.id" [sticky]="column.sticky || false">
                        <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
                        <td mat-cell *matCellDef="let row">
                            @switch (column.id) {
                                @case ('type') {
                                    <div>
                                        @switch (row[column.id]) {
                                            @case ('Recipe::ManualAnywhere'){
                                                <img [ngSrc]="HORDES_IMG_REPO + 'log/citizen.gif'" width="16" height="16" />
                                                <ng-container i18n>Action de citoyen</ng-container>
                                            } @case ('Recipe::WorkshopTypeTechSpecific'){
                                                <img [ngSrc]="HORDES_IMG_REPO + 'building/small_techtable.gif'" width="16" height="16" />
                                                <ng-container i18n>Établi des Techniciens</ng-container>
                                            } @case ('Recipe::WorkshopType'){
                                                <img [ngSrc]="HORDES_IMG_REPO + 'log/workshop.gif'" width="16" height="16" />
                                                <ng-container i18n>Atelier</ng-container>
                                            } @case ('Recipe::WorkshopTypeShamanSpecific'){
                                                <img [ngSrc]="HORDES_IMG_REPO + 'log/workshop.gif'" width="16" height="16" />
                                                <ng-container i18n>Atelier, Chaman uniquement</ng-container>
                                            }
                                        }
                                    </div>
                                } @case ('components') {
                                    @for (component of row[column.id]; track component) {
                                        <div><img [ngSrc]="HORDES_IMG_REPO + component.img" width="16" height="16" />{{ component.label[locale] }}</div>
                                    }
                                } @case ('transformation') {
                                    <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_move.gif'" width="16" height="16" />
                                } @case ('result') {
                                    @for (result of row[column.id]; track result) {
                                        <div>
                                            <img [ngSrc]="HORDES_IMG_REPO + result.item.img" width="16" height="16" />
                                            {{ result.item.label[locale] }}
                                            @if (result.probability !== 1) {
                                                <small>({{ result.probability * 100 | number : '1.0-2' : locale }}%)</small>
                                            }
                                        </div>
                                    }
                                }
                            }
                        </td>
                    </ng-container>
                }
                <!-- Footer -->
                <tr mat-header-row *matHeaderRowDef="columns | ids; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columns | ids"></tr>
            </table>
        </div>
    }
</mat-card-content>
