@import 'variables.scss';

.mho-footer {
    .mat-toolbar-row {
        height: 24px;
        font-size: 12px;
        font-weight: normal;
        justify-content: center;
        overflow: auto;
        &:first-child {
            margin-top: auto;
        }
        &:last-child {
            margin-bottom: auto;
        }

        a {
            text-transform: capitalize;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            &:hover {
                color: $accent;
            }
        }
    }
}
