@import 'variables.scss';

.mho-footer {
    overflow-x: auto;
    overflow-y: hidden;

    .mat-toolbar-row {
        height: 24px;
        font-size: 12px;
        font-weight: normal;
        overflow-x: hidden;
        overflow-x: visible;
        &:first-child {
            margin-top: auto;
        }
        &:last-child {
            margin-bottom: auto;
        }

        a {
            text-transform: capitalize;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            &:hover {
                color: $accent;
            }
        }

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
