<mat-toolbar class="mho-footer" color="primary">
    <mat-toolbar-row>{{title}}&nbsp;-&nbsp;Développé par&nbsp;<a color="accent" href="mailto:lenoune38@gmail.com">Zerah</a></mat-toolbar-row>
    <mat-toolbar-row>Ce site n'est pas affilié à&nbsp;<a color="accent" href="https://motion-twin.com/fr/" target="_blank">Motion Twin</a>&nbsp;-&nbsp;Certains
        éléments graphiques appartiennent à&nbsp;<a color="accent" href="https://motion-twin.com/fr/" target="_blank">Motion Twin</a>.</mat-toolbar-row>
</mat-toolbar>
