<div class="mho-header-with-filter">
    <div [style.text-align]="textAlign">
        {{header}}

        <mat-icon class="open-menu-icon" *ngIf="!visible"
            (click)="$event.preventDefault(); $event.stopPropagation(); displayFilter();">
            filter_alt
        </mat-icon>

    </div>
    <ng-container *ngIf="visible">
        <mat-form-field (click)="$event.stopPropagation();">
            <input #filter matInput [ngModel]="filterValue" (ngModelChange)="filterValueChange.next($event);"
                (focusout)="checkVisibility()">
        </mat-form-field>
    </ng-container>
</div>
