<mat-menu #menuAdd="matMenu" class="mho-menu-add {{class()}}">
    <ng-template let-lists="lists" let-menuLabel="menuLabel" matMenuContent>
        <div (click)="$event.stopPropagation()" class="search">
            <mat-form-field style="width: 100%" subscriptSizing="dynamic">
                <mat-label>{{ menuLabel }}</mat-label>
                <input #searchItem matInput>
            </mat-form-field>
        </div>
        <div class="items">
            @if (lists.length === 1) {
                <ng-container *ngTemplateOutlet="menuContent; context: {$implicit: lists[0].list}"></ng-container>
            } @else {
                <mat-tab-group (click)="$event.stopPropagation();">
                    @for (list of lists; track list.label) {
                        <mat-tab [label]="list.label">
                            <ng-container *ngTemplateOutlet="menuContent; context: {$implicit: list.list}"></ng-container>
                        </mat-tab>
                    }
                </mat-tab-group>
            }
        </div>

        <ng-template #menuContent let-itemList>
            @if (itemList | isItems) {
                @for (category of itemList | itemsGroupByCategory; track category.category.id_category) {
                    <div>
                        <div>{{ category.category.label[locale] }}</div>
                        @for (item of category.items; track item) {
                            @if (searchItem.value === '' || $any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label).toLowerCase().indexOf(searchItem.value.toLowerCase()) > -1) {
                                <img (click)="add.emit(item.id);" [ngSrc]="HORDES_IMG_REPO + item.img" [title]="$any(item.label[$any(locale)] ? (item.label[$any(locale)] || '') : item.label)" height="16"
                                     width="16">
                            }
                        }
                    </div>
                }
            } @else {
                @for (item of itemList; track item) {
                    @if (searchItem.value === '' || $any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label).toLowerCase().indexOf(searchItem.value.toLowerCase()) > -1) {
                        <img (click)="add.emit(item.id);" [class.broken]="item.is_broken" [ngSrc]="HORDES_IMG_REPO + (item | itemImg:item.is_broken)" [title]="$any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label)"
                             height="16"
                             width="16">
                    }
                }
            }
        </ng-template>
    </ng-template>
</mat-menu>
