<mat-toolbar class="mho-navbar" color="primary">
    <div class="title">{{title}}</div>
    <ng-container *ngFor="let tab of tabs">
        <a mat-button [routerLink]="[tab.url]" [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact: true}">
            {{tab.label}}
        </a>
    </ng-container>
    <!-- <span *ngIf="!external_app_id_field_value"> -->
    <span class="spacer"></span>
    <mat-form-field *ngIf="!saved_external_app_id" class="external-app-id-input">
        <mat-label for="external-app-id">Identifiant d'app externe</mat-label>
        <input id="external-app-id" matInput type="text" [(ngModel)]="external_app_id_field_value">
        <button matSuffix mat-icon-button (click)="saveExternalAppId();" [disabled]="!external_app_id_field_value">
            <mat-icon>check</mat-icon>
        </button>
    </mat-form-field>
    <a mat-button *ngIf="saved_external_app_id" (click)="updateExternalTools()">Mettre à jour les outils externes</a>
</mat-toolbar>
