<mat-toolbar class="mho-navbar" color="primary">
    <button mat-icon-button type="button" (click)="sidenav.changeSidenavStatus();">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="https://github.com/zerah54/MyHordesOptimizer/raw/main/assets/img/logo/logo_mho_64x64.png" height="56px" width="56px">
    <div class="title">{{media.isActive('gt-sm') ? title : 'MHO'}}</div>
    <ng-container *ngIf="media.isActive('gt-sm')">
        <ng-container *ngFor="let tab of tabs">
            <a mat-button [routerLink]="[tab.url]" [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{exact: true}">
                {{tab.label}}
            </a>
        </ng-container>
    </ng-container>
    <!-- <span *ngIf="!external_app_id_field_value"> -->
    <span class="spacer"></span>
    <mat-form-field *ngIf="!saved_external_app_id" class="external-app-id-input">
        <mat-label for="external-app-id">Identifiant d'app externe</mat-label>
        <input id="external-app-id" matInput type="text" [(ngModel)]="external_app_id_field_value">
        <button matSuffix mat-icon-button (click)="saveExternalAppId();" [disabled]="!external_app_id_field_value">
            <mat-icon>check</mat-icon>
        </button>
    </mat-form-field>
    <a mat-button *ngIf="saved_external_app_id" (click)="updateExternalTools()">Mettre à jour les outils externes</a>
    <button mat-icon-button *ngIf="!media.isActive('gt-sm')" [matMenuTriggerFor]="linksMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #linksMenu>
        <ng-container *ngFor="let tab of tabs">
            <a mat-menu-item [routerLink]="[tab.url]" [routerLinkActive]="['is-active']"
                [routerLinkActiveOptions]="{exact: true}">
                {{tab.label}}
            </a>
        </ng-container>
    </mat-menu>
</mat-toolbar>
