@use "variables";

$small: 20px;
$large: 30px;

th.border-cell {

    background-color: variables.$sidenav_bg_color;
    border: 1px solid variables.$sidenav_bg_color;
    font-weight: normal;
    padding: 0;
    position: sticky;
    z-index: 2;

    &.horizontal:not(.vertical) {
        width: $large;
        height: $small;
    }

    &.vertical:not(.horizontal) {
        width: $small;
        height: $large;

        left: 0;
        right: 0;
    }

    &.horizontal.vertical {
        height: $small;
        width: $small;
    }

    > div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
