<div #mhoTools class="mho-tools" [style.height.px]="mhoTools.parentElement?.parentElement?.parentElement?.clientHeight">
    <mat-drawer-container [style.height]="'100%'">
        <mat-drawer class="sidenav" [mode]="media.isActive('gt-xs') ? 'side' : 'over'" [opened]="opened_sidenav">
            <mat-list>
                <a mat-list-item *ngFor="let tool of tools_list" routerLinkActive="link-selected" [routerLink]="'/tools/' + tool.id">{{tool.label}}</a>
            </mat-list>
        </mat-drawer>

        <div class="sidenav-content">
            <ng-content></ng-content>
        </div>

    </mat-drawer-container>
</div>
