<div class="app-menu">
    <mat-list>
        <ng-container *ngFor="let route of routes">
            <ng-container *ngTemplateOutlet="routeLink; context: {$implicit: route}"></ng-container>
            <ng-container *ngFor="let sub_route of route.children">
                <ng-container *ngTemplateOutlet="routeLink; context: {$implicit: sub_route}"></ng-container>
            </ng-container>
        </ng-container>

    </mat-list>
    <div class="actions">
        <ng-container *ngIf="site_language">
            <button mat-button [matMenuTriggerFor]="languageMenu">
                <mat-icon>language</mat-icon>
                {{site_language.label}}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #languageMenu="matMenu">
                <ng-container *ngFor="let language of language_list">
                    <div mat-menu-item [disabled]="language.code === site_language.code"
                        [class.warn-color]="language.code === site_language.code" (click)="changeLanguage(language)">
                        {{language.label}}
                    </div>
                </ng-container>
            </mat-menu>
        </ng-container>

        <ng-container>
            <button mat-button [matMenuTriggerFor]="themeMenu">
                <mat-icon>palette</mat-icon>
                {{selected_theme?.label}}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #themeMenu="matMenu">
                <ng-container *ngFor="let theme of themes">
                    <div mat-menu-item [disabled]="theme.class === selected_theme?.class"
                        [class.warn-color]="theme.class === selected_theme?.class" (click)="changeTheme(theme)">
                        {{theme.label}}
                    </div>
                </ng-container>
            </mat-menu>
        </ng-container>
    </div>
</div>

<ng-template #routeLink let-route>
    <a mat-list-item *ngIf="route.displayed && route.authorized()" routerLinkActive="link-selected"
        [routerLinkActiveOptions]="{exact : true}" [routerLink]="route.path" (click)="toggleDisplayChildren(route)"
        [ngClass]="['lvl-' + route.lvl]">
        <mat-icon *ngIf="route.children && route.children.length > 0">{{route.expanded ? 'expand_more' :
            'chevron_right'}}</mat-icon>
        {{route.label}}
    </a>
</ng-template>
