@import "variables.scss";

.app-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;


    .mat-list {
        overflow-y: auto;
        .mat-list-item:hover {
            background-color: rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        .mat-list-item {
            text-decoration: none;

            &.link-selected {
                color: $primary !important;
            }

            @for $i from 1 through 10 {
                &.lvl-#{$i} {
                    $padding: $i * 2 + em;
                    padding-left: $padding;
                    width: calc(100% - $padding);
                }
            }
        }

    }

    .actions {
        display: flex;
        flex-direction: column;

        button {
            text-align: left;
        }
    }

}
