<div class="app-menu">
    <mat-list>
        @for (route of routes; track $index) {
            <ng-container *ngTemplateOutlet="routeTemplate; context: {$implicit: route}"></ng-container>
            <mat-divider></mat-divider>
        }
    </mat-list>
    <div class="actions">
        @if (selected_theme?.class === 'halloween') {
            <div class="pumpkin-container">
                <div class="pumpkin">
                    <div class="texture"></div>
                    <div class="root"></div>
                    <div class="eye left"></div>
                    <div class="eye right"></div>
                    <div class="mouth left"></div>
                    <div class="mouth right"></div>
                    <div class="teeth"></div>
                </div>

                <div class="shadow"></div>
            </div>
        }
        @if (site_language) {
            <button mat-button type="button" [matMenuTriggerFor]="languageMenu">
                <mat-icon>language</mat-icon>
                {{ site_language.label }}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #languageMenu="matMenu">
                @for (language of language_list; track language.code) {
                    <div mat-menu-item [disabled]="language.code === site_language.code"
                         [class.warn-color]="language.code === site_language.code" (click)="changeLanguage(language)">
                        {{ language.label }}
                    </div>
                }
            </mat-menu>
        }
        <button mat-button type="button" [matMenuTriggerFor]="themeMenu">
            <mat-icon>palette</mat-icon>
            {{ selected_theme?.label }}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #themeMenu="matMenu">
            @for (theme of themes; track theme.class) {
                <div mat-menu-item [disabled]="theme.class === selected_theme?.class"
                     [class.warn-color]="theme.class === selected_theme?.class" (click)="changeTheme(theme)">
                    {{ theme.label }}
                </div>
            }
        </mat-menu>
    </div>
</div>

<ng-template #routeTemplate let-route>
    <ng-container *ngTemplateOutlet="routeLink; context: {$implicit: route}"></ng-container>
    @if (route.children && route.children.length > 0) {
        @for (sub_route of route.children; track sub_route) {
            <ng-container *ngTemplateOutlet="routeTemplate; context: {$implicit: sub_route}"></ng-container>
        }
    }
</ng-template>

<ng-template #routeLink let-route>
    @if (route.displayed && route.authorized()) {
        <a mat-list-item routerLinkActive="link-selected"
           [routerLinkActiveOptions]="{exact : true}" [routerLink]="route.path"
           (click)="route.expanded = !route.expanded; toggleDisplayChildren(route)" [ngClass]="['lvl-' + route.lvl]">
            @if (route.children && route.children.length > 0) {
                <mat-icon>{{ route.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
            }
            {{ route.label }}
            @if (route.spoil) {
                <span class="spoil" matTooltip="Cette page peut contenir des spoils de la saison 16" i18n-matTooltip>Spoil S17</span>
            }
        </a>
    }
</ng-template>
