<div class="digs">
    <div class="header">
        <h2>Jour {{ current_day }}</h2>
        <mat-form-field (click)="$event.stopPropagation()" class="no-bottom">
            <mho-select [options]="completeCitizenList | citizenNotInDigList:digs" [bindLabel]="'name'" [ngModel]="''" (ngModelChange)="addCitizen($event)">
            </mho-select>
        </mat-form-field>
    </div>
    <div class="rows">
        <div class="row" *ngFor="let dig of digs">
            @if (dig | citizenForDig:completeCitizenList; as citizen) {
                <mho-dig [dig]="dig" [digsMode]="'registry'" [citizen]="citizen" [day]="dig.day"></mho-dig>
            }
        </div>
    </div>
</div>
