@use 'variables';

:host {

    display: contents;
    .mho-minesweeper-header {
        justify-content: space-between;

        .actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
        }
    }

    .mho-minesweeper {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* Anciennes versions d'Internet Explorer/Edge */
        user-select: none; /* Standard (Chrome, Firefox, Opera, Edge) */

        .game-container {

            width: fit-content;

            .game-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1em;

                .state {
                    height: 26px;
                    width: 26px;
                }

            }

            .game-board {
                display: inline-block;
                cursor: default;

                .row {
                    display: flex;
                    flex-wrap: nowrap;
                }

                .cell {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    width: 16px;
                    height: 16px;
                    box-sizing: border-box;
                }
            }



            /* Styles pour le thème legacy */
            &.legacy {
                $ms-bg: #bdbdbd;
                $ms-light: #ffffff;
                $ms-shadow-dark: #7b7b7b;
                $ms-digit-bg: #000000;

                background-color: $ms-bg;
                padding: 10px;
                border-top: 3px solid $ms-light;
                border-left: 3px solid $ms-light;
                border-right: 3px solid $ms-shadow-dark;
                border-bottom: 3px solid $ms-shadow-dark;

                .cell {
                    &:not(.revealed):not(.highlighted):not(.no-bomb):not(.mined), &.questioned:not(.revealed), &.flagged:not(.no-bomb) {
                        border-top: 2px solid $ms-light;
                        border-left: 2px solid $ms-light;
                        border-right: 2px solid $ms-shadow-dark;
                        border-bottom: 2px solid $ms-shadow-dark;
                    }

                    &.revealed:not(.flagged):not(.questioned), &.highlighted, &.mined, &.no-bomb {
                        border-top: 1px solid $ms-shadow-dark;
                        border-left: 1px solid $ms-shadow-dark;
                    }


                    &.revealed.mined {
                        &.game-over {
                            background: red;
                        }
                    }
                }

                .game-header {
                    padding: 6px;
                    margin-bottom: 10px;

                    .state {
                        height: 26px;
                        width: 26px;

                        &.lose {
                            background-image: url(/img/minesweeper/lose.gif);
                        }

                        &.play {
                            background-image: url(/img/minesweeper/smile.gif);
                        }

                        &.win {
                            background-image: url(/img/minesweeper/win.gif);
                        }

                        &.clicked {

                        }
                    }

                    .remain-mines, .timer {
                        flex: 1;
                        display: flex;

                        > div {
                            background-color: $ms-digit-bg;
                            border: 1px solid $ms-shadow-dark;
                            display: flex;
                        }
                    }

                    .remain-mines {
                        justify-content: flex-start;
                    }

                    .timer {
                        justify-content: flex-end;
                    }
                }

                .game-board, .game-header {
                    border-top: 3px solid $ms-shadow-dark;
                    border-left: 3px solid $ms-shadow-dark;
                    border-right: 3px solid $ms-light;
                    border-bottom: 3px solid $ms-light;
                }
            }

            /* Styles pour le thème myhordes */
            &.myhordes {

            }
        }
    }


    .custom-grid-size {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;
    }
}
