<mat-card-header class="mho-minesweeper-header">
    <mat-card-title i18n>Démineur</mat-card-title>
    <div class="actions">

        @if (false) {
            <mat-slide-toggle
                [checked]="selected_theme().id === 'legacy'"
                (change)="changeTheme($event.checked ? themes_list()[0] : themes_list()[1])">
                <ng-container i18n>Thème Windows</ng-container>
            </mat-slide-toggle>
        }
        <mat-menu #difficultyMenu="matMenu" xPosition="before">
            @for (size of sizes_list(); track size.id) {
                @if (size.id !== 'custom') {
                    <button mat-menu-item (click)="resetGame(size)">
                        <mat-icon fontSet="material-symbols-outlined">{{ selected_size().id === size.id ? 'check' : '' }}</mat-icon>
                        {{ size.label }}
                    </button>
                } @else {
                    <button mat-menu-item (click)="resetGame(size); $event.stopImmediatePropagation();">
                        <mat-icon fontSet="material-symbols-outlined">{{ selected_size().id === 'custom' ? 'check' : '' }}</mat-icon>
                        {{ size.label }}
                    </button>
                    @if (selected_size().id === 'custom') {
                        <div style="display: flex; justify-content: space-between; gap: 0.5em; align-items: center; flex-wrap: nowrap; padding: 0 0.5em;"
                             (click)="$event.stopImmediatePropagation();">
                            <mat-form-field subscriptSizing="dynamic" appearance="outline" style="width: 100px">
                                <mat-label>
                                    <mat-icon fontSet="material-symbols-outlined">arrow_range</mat-icon>
                                </mat-label>
                                <input matInput type="number" [ngModel]="selected_size().width" (ngModelChange)="resetGame({width: $event})">
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic" appearance="outline" style="width: 100px">
                                <mat-label>
                                    <mat-icon fontSet="material-symbols-outlined">height</mat-icon>
                                </mat-label>
                                <input matInput type="number" [ngModel]="selected_size().height" (ngModelChange)="resetGame({height: $event})">
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic" appearance="outline" style="width: 100px">
                                <mat-label>
                                    <mat-icon fontSet="material-symbols-outlined">bomb</mat-icon>
                                </mat-label>
                                <input matInput type="number" [ngModel]="selected_size().mines" (ngModelChange)="resetGame({mines: $event})">
                            </mat-form-field>
                        </div>
                    }
                }
            }
        </mat-menu>
        <button mat-stroked-button [matMenuTriggerFor]="difficultyMenu">
            <mat-icon fontSet="material-symbols-outlined">expand_more</mat-icon>
            <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
            {{ selected_size().label }}
        </button>

        @if (false) {
            <mat-form-field subscriptSizing="dynamic">
                <mat-label i18n>Seed</mat-label>
                <input matInput type="number" [ngModel]="seed()" (ngModelChange)="seed.set($event); random_seed.set(false); resetGame()"
                       [disabled]="random_seed()">
                <mat-checkbox matSuffix [ngModel]="random_seed()" (ngModelChange)="random_seed.set($event);"></mat-checkbox>
            </mat-form-field>
        }
    </div>
</mat-card-header>

<mat-card-content class="mho-minesweeper">
    <div class="game-container" [ngClass]="selected_theme().id">
        <div class="game-header">
            <div class="remain-mines">
                <div>
                    @for (digit of Math.max(remaining_mines(), 0).toString().split(''); track $index) {
                        <img [src]="`img/minesweeper/${digit}-minesweeper.png`">
                    }
                </div>
            </div>
            <div class="state"
                 [ngClass]="{
                    'lose': game_over() && remaining_mines() > 0,
                    'play': !game_over(),
                    'win': game_over() && remaining_mines() === 0,
                    'clicked': ''
                 }"
                 (click)="resetGame()"
            >
            </div>
            <div class="timer">
                <div>
                    @if (!end_time()) {
                        @let timer = start_time() | counterFromDate | async;
                        @for (digit of timer?.toString()?.split('') ?? [0]; track $index) {
                            <img [src]="`img/minesweeper/${digit}-minesweeper.png`">
                        }
                    } @else {
                        @let timer = start_time() | diffBetweenDates:end_time();
                        @for (digit of timer?.toString()?.split('') ?? [0]; track $index) {
                            <img [src]="`img/minesweeper/${digit}-minesweeper.png`">
                        }
                    }
                </div>
            </div>
        </div>
        <div class="game-board">
            @for (row of board(); track i; let i = $index) {
                <div class="row">
                    @for (cell of row; track j; let j = $index) {
                        <div [ngClass]="{
                                'cell': true,
                                'revealed': cell.is_revealed,
                                'flagged': cell.is_flagged,
                                'questioned': cell.is_questioned,
                                'highlighted': cell.is_highlighted,
                                'mined': cell.is_mine && !cell.is_flagged && game_over(),
                                'game-over': cell.is_mine && cell.is_game_over && game_over(),
                                'no-bomb': !cell.is_mine && cell.is_flagged && game_over()
                             }"
                             [class]="cell.is_revealed && !cell.is_flagged && !cell.is_mine ? 'revealed-' + cell.adjacent_mines : ''"
                             (click)="revealCell(i, j)"
                             (contextmenu)="cycleMarker(i, j, $event)"
                             (mousedown)="highlightAdjacentCells(i, j, $event)"
                             (mouseup)="unhighlightCells()"
                             (mouseleave)="unhighlightCells()">
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</mat-card-content>
