<mat-card-header class="mho-minesweeper-header">
    <mat-card-title i18n>Démineur</mat-card-title>
    <div class="actions">

        @if (false) {
            <mat-slide-toggle
                [checked]="selected_theme() === 'legacy'"
                (change)="selected_theme.set($event.checked ? 'legacy' : 'myhordes')">
                <ng-container i18n>Thème Windows</ng-container>
            </mat-slide-toggle>
        }
        <mat-menu #difficultyMenu="matMenu" xPosition="before">
            @for (size of sizes_list(); track size.id) {
                @if (size.id !== 'custom') {
                    <button mat-menu-item (click)="resetGame(size)">
                        <mat-icon fontSet="material-symbols-outlined">{{ selected_size().id === size.id ? 'check' : '' }}</mat-icon>
                        {{ size.label }}
                    </button>
                } @else {
                    <button mat-menu-item (click)="resetGame(size); $event.stopImmediatePropagation();">
                        <mat-icon fontSet="material-symbols-outlined">{{ selected_size().id === 'custom' ? 'check' : '' }}</mat-icon>
                        {{ size.label }}
                    </button>
                    @if (selected_size().id === 'custom') {
                        <div style="display: flex; justify-content: space-between; gap: 0.5em; align-items: center; flex-wrap: nowrap; padding: 0 0.5em;"
                             (click)="$event.stopImmediatePropagation();">
                            <mat-form-field subscriptSizing="dynamic" appearance="outline" style="width: 100px">
                                <mat-label>
                                    <mat-icon fontSet="material-symbols-outlined">arrow_range</mat-icon>
                                </mat-label>
                                <input matInput type="number" [ngModel]="selected_size().width" (ngModelChange)="resetGame({width: $event})">
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic" appearance="outline" style="width: 100px">
                                <mat-label>
                                    <mat-icon fontSet="material-symbols-outlined">height</mat-icon>
                                </mat-label>
                                <input matInput type="number" [ngModel]="selected_size().height" (ngModelChange)="resetGame({height: $event})">
                            </mat-form-field>
                            <mat-form-field subscriptSizing="dynamic" appearance="outline" style="width: 100px">
                                <mat-label>
                                    <mat-icon fontSet="material-symbols-outlined">bomb</mat-icon>
                                </mat-label>
                                <input matInput type="number" [ngModel]="selected_size().mines" (ngModelChange)="resetGame({mines: $event})">
                            </mat-form-field>
                        </div>
                    }
                }
            }
        </mat-menu>
        <button mat-stroked-button [matMenuTriggerFor]="difficultyMenu">
            <mat-icon fontSet="material-symbols-outlined">expand_more</mat-icon>
            <mat-icon fontSet="material-symbols-outlined">settings</mat-icon>
            {{ selected_size().label }}
        </button>

        @if (false) {
            <mat-form-field subscriptSizing="dynamic">
                <mat-label i18n>Seed</mat-label>
                <input matInput type="number" [ngModel]="seed()" (ngModelChange)="seed.set($event); random_seed.set(false); resetGame()"
                       [disabled]="random_seed()">
                <mat-checkbox matSuffix [ngModel]="random_seed()" (ngModelChange)="random_seed.set($event);"></mat-checkbox>
            </mat-form-field>
        }
    </div>
</mat-card-header>

<mat-card-content class="mho-minesweeper">
    <div class="game-container" [class]="selected_theme()">
        <div class="game-header">
            <div class="remain-mines">
                <div>
                    @for (digit of Math.max(remaining_mines(), 0).toString().split(''); track $index) {
                        <img [src]="`img/minesweeper/timer_${digit}.png`">
                    }
                </div>
            </div>
            <div class="state"
                 [class.lose]="game_over() && remaining_mines() > 0"
                 [class.play]="!game_over()"
                 [class.win]="game_over() && remaining_mines() === 0"
                 (click)="resetGame()"
            >
            </div>
            <div class="timer">
                <div>
                    @let timer = end_time() ? (start_time() | diffBetweenDates:end_time()) : (start_time() | counterFromDate | async);
                    @for (digit of timer?.toString()?.split('') ?? [0]; track $index) {
                        <img [src]="`img/minesweeper/timer_${digit}.png`">
                    }
                </div>
            </div>
        </div>
        <div class="game-board">
            @for (row of board(); track i; let i = $index) {
                <div class="row">
                    @for (cell of row; track j; let j = $index) {
                        <div [class]="'cell' + (cell.is_revealed && !cell.is_flagged && !cell.is_mine ? ' revealed-' + cell.adjacent_mines : '')"
                             [class.revealed]="cell.is_revealed"
                             [class.flagged]="cell.is_flagged"
                             [class.questioned]="cell.is_questioned"
                             [class.highlighted]="cell.is_highlighted"
                             [class.mined]="cell.is_mine && !cell.is_flagged && game_over()"
                             [class.game-over]="cell.is_mine && cell.is_game_over && game_over()"
                             [class.no-bomb]="!cell.is_mine && cell.is_flagged && game_over()"
                             (click)="revealCell(i, j)"
                             (contextmenu)="cycleMarker(i, j, $event)"
                             (mousedown)="highlightAdjacentCells(i, j, $event)"
                             (mouseup)="unhighlightCells()"
                             (mouseleave)="unhighlightCells()">
                            @if (cell.is_revealed && cell.adjacent_mines > 0) {
                                <img [src]="`img/minesweeper/adjacent_${cell.adjacent_mines}.png`">
                            }
                            @if (game_over()) {
                                @if (cell.is_mine) {
                                    @if (cell.is_flagged) {
                                        <img src="img/minesweeper/bombflagged.png">
                                    } @else {
                                        <img src="img/minesweeper/bomb.png">
                                    }
                                } @else if (cell.is_flagged) {
                                    <img src="img/minesweeper/nobomb.png">
                                }
                            } @else {
                                @if (cell.is_flagged) {
                                    <img src="img/minesweeper/bombflagged.png">
                                } @else if (cell.is_questioned) {
                                    <img src="img/minesweeper/bombquestion.png">
                                }
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</mat-card-content>
