.external-app-id {
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
        border: none;
        outline: none;
        background-color: transparent;
        width: calc(100% - (2 * 36px) - 1em);
        padding: 0 0.5em;

        &:focus,
        &:active,
        &:focus-visible {
            border: none;
            outline: none;
        }
    }
}
