@use "variables";

.mho-probabilities {

    .header,
    .chances {
        display: flex;
        align-items: center;
        gap: 0.5em;
        flex-wrap: wrap;
    }

    .header {
        justify-content: space-between;
    }

    .content {
        display: flex;
        gap: 0.5em;
        align-items: baseline;


        .chances {
            min-width: 100px;
            justify-content: left;
            flex: 1;
            align-items: start;
        }

        .results {
            border: 1px solid variables.$primary;
            border-radius: 0.25em;
            background-color: variables.$item_color;
        }
    }

    table {

        th,
        td {
            padding: 0.25em;
        }

        tbody {
            td {
                text-align: right;
            }
        }
    }
}
