@import "variables.scss";

.mho-citizens {
    table {
        width: 100%;

        tr {

            >td {
                padding: 0 0.5em;

                &.avatar {
                    >img {
                        width: 100px;
                        height: 100px;
                    }
                }

                .bag-container {
                    display: flex;
                    justify-content: space-between;
                    gap: 0.5em;
                    border-radius: 0.5em;
                    padding: 0.5em;
                    background-color: $item_color;
                    margin-bottom: 0.25em;

                    .bag {
                        display: flex;
                        gap: 0.25em;
                        align-items: center;
                    }

                    .add-remove {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;
                        > img {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .table-filters {
            display: flex;
            justify-content: space-between;
        }
    }
}



.menu-add, .menu-remove {
    .mat-menu-content {
        padding: 8px;
        .empty-bag {
            display: flex;
            align-items: center;
        }
        .items {
            display: flex;
            flex-wrap: wrap;
            gap: 0.25em;
            > img {
                cursor: pointer;
            }
        }
    }
}
