@use 'variables';

.mho-map-update-citizens {
    table {
        th, td {
            padding: 0.25em 0.5em;

            &.name {
                text-align: left;

                > img {
                    margin-right: 0.5em;
                    vertical-align: middle;
                }
            }

            &.remove-citizen {
                cursor: pointer;
            }
        }

        thead {
            position: sticky;
            top: 0;
            background-color: variables.$card-background-color;
        }
    }

}


.mho-add-citizen-list {
    max-height: 300px;

    > * {
        cursor: pointer;

        img {
            margin-right: 0.5em;
        }
    }
}
