<mho-navbar #navbar></mho-navbar>
<div #content class="mho-content"
    [ngStyle]="{'height': 'calc(100% - ' + navbar?.mat_toolbar?._elementRef?.nativeElement.clientHeight + 'px)'}">
    <div
        [ngStyle]="{'min-height': 'calc(' + content.clientHeight + 'px - ' + footer?.mat_toolbar?._elementRef?.nativeElement.clientHeight + 'px)'}">
        <router-outlet></router-outlet>
    </div>
    <mho-footer #footer></mho-footer>
</div>
<ng-container *ngIf="loading_service.is_loading_obs | async">
    <div class="mho-loading">
        <mat-spinner [color]="'accent'"></mat-spinner>
    </div>
</ng-container>
