.mho-content {
    overflow: auto;
    > div {
        > :last-child > div {
            background-color: red;
        }
    }
}

.mho-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 9999;
    display: flex;

    .mat-spinner {
        margin: auto;
    }
}
