<div mat-dialog-title class="mho-max-active-calculator-title">
    <h2 i18n>Calculateur de débordement</h2>
    <button mat-icon-button type="reset" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content class="mho-max-active-calculator">
    <small i18n>Le débordement dépend du jour et du nombre de citoyens en vie. Il dépend peut être également du nombre de citoyens présents en ville.</small>
    <div class="options">
        <mat-form-field appearance="outline">
            <mat-label i18n>Nombre de citoyens en ville</mat-label>
            <input matInput type="number" [(ngModel)]="nb_citizen" [min]="0" (ngModelChange)="buildDatasource()">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label i18n>Niveau d'habitation maximum</mat-label>
            <input matInput type="number" [(ngModel)]="habitation_max_level" [min]="0" [max]="8" (ngModelChange)="buildDatasource()">
        </mat-form-field>
        <mat-checkbox [(ngModel)]="guitar_played" (ngModelChange)="buildDatasource()" i18n>Guitare jouée</mat-checkbox>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="max_active_by_day.table">
            @for (column of max_active_by_day.columns; track column.id) {
                <ng-container [matColumnDef]="column.id" [sticky]="column.id === 'header'">
                    <th mat-header-cell *matHeaderCellDef [class.today]="my_town ? +my_town.day === +column.id : false">
                        {{ column.header }}
                    </th>
                    <td mat-cell *matCellDef="let row" [class.today]="my_town ? +my_town.day === +column.id : false">
                        {{ row[column.id] }}
                    </td>
                </ng-container>
            }
            <tr mat-header-row *matHeaderRowDef="max_active_by_day.columns | ids; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: max_active_by_day.columns | ids;"></tr>
        </table>
    </div>
</mat-dialog-content>
