.mho-map-update-title {
    padding: 1em 1em 0.5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    flex-wrap: nowrap;

    >h1 {
        margin: 0;
    }
}

.mho-map-update {
    padding: 0 1em 1em;

    .mat-mdc-tab-body-wrapper {
        padding: 0.5em 0;

        .mat-divider {
            margin: 0.5em;
        }
    }

    .mho-tab-group {
        max-height: calc(65vh - 70px);
    }
}
