<div mat-dialog-title class="mho-map-update-title">
    <h1>
        @if (data.ruin) {
            {{ data.ruin.label[locale] }}
        } @else if (cell.is_town) {
            <ng-container i18n>Ville</ng-container>
        } @else {
            <ng-container i18n>Désert</ng-container>
        }
        <small>&nbsp;[{{ cell.displayed_x }} ; {{ cell.displayed_y }}]</small>
    </h1>
    <button mat-icon-button type="button" [mat-dialog-close]="data.cell">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content class="mho-map-update">
    <mat-tab-group [mat-stretch-tabs]="false" mat-align-tabs="start" class="mho-tab-group">
        @if (!cell.is_town) {
            <mat-tab label="Cellule" i18n-label>
                <mho-map-update-cell [(cell)]="cell" [citizens]="cell.citizens | citizensFromShort:data.all_citizens">
                </mho-map-update-cell>
            </mat-tab>
        }
        @if (data.ruin) {
            <mat-tab label="Bâtiment" i18n-label>
                <mho-map-update-ruin [ruin]="data.ruin" [allRuins]="data.all_ruins" [(cell)]="cell">
                </mho-map-update-ruin>
            </mat-tab>
        }
        @if (cell.citizens && cell.citizens.length > 0) {
            <mat-tab label="Citoyens" i18n-label>
                <mho-map-update-citizens [citizens]="cell.citizens | citizensFromShort:data.all_citizens"
                                         (citizensChange)="cell.citizens = $event" [allCitizens]="data.all_citizens">
                </mho-map-update-citizens>
            </mat-tab>
        }
        @if (!cell.is_town) {
            <mat-tab label="Notes" i18n-label>
                <mat-form-field class="mho-cell-note">
                    <textarea matInput [(ngModel)]="cell.note"></textarea>
                </mat-form-field>
            </mat-tab>
        }
        @if (!cell.is_town) {
            <mat-tab label="Fouilles" i18n-label>
                <mho-map-update-digs [cell]="cell" [allCitizens]="data.all_citizens" [(digs)]="digs">
                </mho-map-update-digs>
            </mat-tab>
        }
    </mat-tab-group>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-button type="reset" [color]="'accent'" [mat-dialog-close]="data.cell">Fermer</button>
    <button mat-raised-button type="button" [color]="'accent'" (click)="saveCell()">Enregistrer</button>
</div>
