@import 'variables.scss';

.mho-script {
    .sidenav {
        .mat-list-item:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        @for $i from 1 through 5 {
            $base: 16px;
            $padding: calc(($i - 1) * $base);
            .level-#{$i} {
                text-decoration: none;
                padding-left: $padding;
                width: calc(100% - $padding);
            }
        }
    }

    .sidenav-content {

        @for $i from 1 through 5 {
            h#{$i} {
                scroll-margin: 100px;
            }
        }

        ul {
            li {
                list-style: none;
            }
        }
    }
}
