
:host {
    display: contents;

    .mho-active-citizens {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        max-height: 25px;
        overflow: hidden;

        &:hover {
            overflow: visible;
        }

        .citizen-avatar {
            display: flex;
            flex-shrink: 0;
        }
    }
}
