<mat-tab-group (selectedTabChange)="changeBuildingTab($event)">
    @for (tab of tabs; track tab.id) {
        <mat-tab [labelClass]="tab.id">
            <ng-template mat-tab-label>
                <img [ngSrc]="HORDES_IMG_REPO + tab.img" width="16" height="16" style="margin-right: 0.5em">
                {{ tab.label }}
            </ng-template>
            <ng-container *ngTemplateOutlet="template; context: {$implicit: tab}"></ng-container>
        </mat-tab>
    }
</mat-tab-group>
<ng-template #template let-tab>
    <div class="plays-dices-cards">
        <div class="citizen-plays">
            <h4 i18n>Ont contribué</h4>
            @for (citizen of entries_by_type | isCitizenInEntries:completeCitizenList(); track citizen) {
                <div>
                    <mho-citizen-info displayShunStatus [displayJob]="tab.id === 'vet'" [displayPseudoMode]="displayPseudo()"
                                      [citizen]="citizen"></mho-citizen-info>
                </div>
            }
        </div>
        <div class="citizen-doesnt-play">
            <h4 i18n>N'ont pas contribué</h4>
            @for (citizen of entries_by_type | isCitizenInEntries:completeCitizenList():true; track citizen) {
                <div>
                    <mho-citizen-info displayShunStatus [displayJob]="tab.id === 'vet'" [displayPseudoMode]="displayPseudo()"
                                      [citizen]="citizen"></mho-citizen-info>
                </div>
            }
        </div>
    </div>
</ng-template>
