<mat-card-header class="mho-map-header">
    <mat-card-title i18n>Carte des fouilles</mat-card-title>
    <div>
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>settings</mat-icon></button>
    </div>
</mat-card-header>
<mat-card-content class="mho-map">
    <mat-sidenav-container class="mho-map-sidenav-container">

        <mat-sidenav-content class="map-container">
            <mho-draw-map [map]="map" [allItems]="all_items" [allRuins]="all_ruins" [options]="options" [allCitizens]="all_citizens"></mho-draw-map>
        </mat-sidenav-content>
        <mat-sidenav #sidenav class="map-settings" [position]="'end'" [mode]="is_gt_xs ? 'side' : 'over'">
            <h1 i18n>Paramètres</h1>
<!--            <div>
                <h2 i18n>Type de carte</h2>
                <mat-chip-listbox>
                    <mat-chip (click)="changeOptions('map_type', 'danger')"
                        [highlighted]="options.map_type === 'danger'" i18n>
                        Danger
                    </mat-chip>
                    <mat-chip (click)="changeOptions('map_type', 'digs')" [highlighted]="options.map_type === 'digs'"
                        i18n>
                        Fouilles
                    </mat-chip>
                </mat-chip-listbox>
            </div>-->
            <div *ngIf="options.map_type === 'digs'">
                <h2 i18n>Fouilles restantes</h2>
                <mat-chip-listbox>
                    <mat-chip (click)="changeOptions('dig_mode', 'max')" [highlighted]="options.dig_mode === 'max'"
                        i18n>
                        Maximum
                    </mat-chip>
                    <mat-chip (click)="changeOptions('dig_mode', 'average')"
                        [highlighted]="options.dig_mode === 'average'" i18n>
                        Moyenne
                    </mat-chip>
                </mat-chip-listbox>
            </div>
            <div>
                <h2 i18n>Afficher les zones du scrutateur</h2>
                <div class="scrut_zones">
                    <mho-compass-rose [selectedScrutZone]="options.displayed_scrut_zone" (selectedScrutZoneChange)="changeOptions('displayed_scrut_zone', $event)"></mho-compass-rose>
                </div>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>

</mat-card-content>
