@use 'variables';

.mho-map-header {
    &.mat-mdc-card-header {
        justify-content: space-between;
        align-items: baseline;
    }
}

.mho-map-sidenav-container {

    height: 100%;
    background-color: variables.$card-background-color;

    .mat-sidenav {
        max-width: 250px;
        padding: 0.5em;
        background-color: variables.$card-background-color;

        h1 {
        }

        h2 {
            margin-top: 0.75em;
            margin-bottom: 0.5em;
        }

        .scrut-zones {
            display: flex;
            flex-direction: column;
        }

        .dist-zones {
            display: flex;
            flex-direction: column;
        }
    }

    .map-container {
        --mat-sidenav-content-background-color: transparent;
    }

    .mat-drawer-inner-container {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
