.mho-map-header {
    &.mat-mdc-card-header {
        justify-content: space-between;
        align-items: baseline;
    }
}

.mho-map-sidenav-container {

    height: 100%;

    .mat-sidenav {
        max-width: 250px;
        padding: 0.5em;

        h1 {}

        h2 {
            margin-top: 0.75em;
            margin-bottom: 0.5em;
        }

        .scrut_zones {
            display: flex;
            flex-direction: column;
        }
    }

    .mat-drawer-inner-container {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
