<mat-card-header class="mho-map-header">
    <mat-card-title i18n>Carte des fouilles</mat-card-title>
    <div>
        <button mat-icon-button type="button" (click)="sidenav.toggle()">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</mat-card-header>
<mat-card-content class="mho-map">
    <mat-sidenav-container class="mho-map-sidenav-container">

        <mat-sidenav-content class="map-container">
            <mho-draw-map [map]="map" [allItems]="all_items" [allRuins]="all_ruins" [options]="options"
                          [allCitizens]="all_citizens"></mho-draw-map>
        </mat-sidenav-content>
        <mat-sidenav #sidenav class="map-settings" [position]="'end'" [mode]="is_gt_xs ? 'side' : 'over'">
            <h1 i18n>Paramètres</h1>
            @if (is_dev) {
                <h2 i18n>Type de carte</h2>
                <mat-chip-listbox>
                    <mat-chip (click)="changeOptions('map_type', 'digs')" [highlighted]="options.map_type === 'digs'" i18n>Fouilles</mat-chip>
                    @if (is_dev) {
                        <mat-chip (click)="changeOptions('map_type', 'danger')" [highlighted]="options.map_type === 'danger'" i18n>Danger</mat-chip>
                    }
                    <mat-chip (click)="changeOptions('map_type', 'trash')" [highlighted]="options.map_type === 'trash'" i18n>Décharge</mat-chip>
                </mat-chip-listbox>
            }
            @if (options.map_type === 'digs') {
                <div>
                    <h2 i18n>Fouilles restantes</h2>
                    <mat-chip-listbox>
                        <mat-chip (click)="changeOptions('dig_mode', 'max')" [highlighted]="options.dig_mode === 'max'" i18n>Maximum</mat-chip>
                        <mat-chip (click)="changeOptions('dig_mode', 'average')" [highlighted]="options.dig_mode === 'average'" i18n>Moyenne</mat-chip>
                    </mat-chip-listbox>
                </div>
            }
            @if (options.map_type === 'trash') {
                <div>
                    <h2 i18n>Mode d'affichage</h2>
                    <mat-chip-listbox>
                        <mat-chip (click)="changeOptions('trash_mode', 'nb')" [highlighted]="options.trash_mode === 'nb'" i18n>Nombre d'objets</mat-chip>
                        <mat-chip (click)="changeOptions('trash_mode', 'def')" [highlighted]="options.trash_mode === 'def'" i18n>Défense apportée</mat-chip>
                    </mat-chip-listbox>
                </div>
            }
            <div>
                <h2 i18n>Afficher les zones du scrutateur</h2>
                <div class="scrut-zones">
                    <mho-compass-rose [selectedScrutZone]="options.displayed_scrut_zone"
                                      (selectedScrutZoneChange)="changeOptions('displayed_scrut_zone', $event)"></mho-compass-rose>
                </div>
            </div>
            <div>
                <h2 i18n>Afficher les zones en distance</h2>
                <div class="dist-zones">
                    <button mat-button type="button" [matMenuTriggerFor]="addZone">
                        <mat-icon>add</mat-icon>
                        <ng-container i18n>Ajouter une zone</ng-container>
                    </button>
                    <mat-menu #addZone="matMenu">
                        <div (click)="$event.stopPropagation()" style="padding: 0.5em">
                            <div style="display: flex; align-items: center">
                                <mat-form-field style="width: calc(100% - 100px)">
                                    <input matInput [(ngModel)]="new_distance_option.value" placeholder="Distance" i18n-placeholder>
                                </mat-form-field>
                                <mat-form-field style="width: 100px">
                                    <mat-select [(ngModel)]="new_distance_option.unit" placeholder="Unité" i18n-placeholder>
                                        <mat-option [value]="'km'" i18n>km</mat-option>
                                        <mat-option [value]="'pa'" i18n>PA</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            @if (new_distance_option.unit === 'pa') {
                                <mat-checkbox [(ngModel)]="new_distance_option.round_trip" i18n>Aller / Retour</mat-checkbox>
                            }
                            <button mat-button type="button" (click)="addDistanceToList(); addZone.closed.next('click')" i18n>Ajouter</button>
                        </div>
                    </mat-menu>
                    <mat-list>
                        @for (option of options.distances; track option) {
                            <mat-list-item>
                                <button mat-icon-button type="button" matListItemIcon (click)="removeDistanceFromList(option)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <div matListItemTitle>{{ option.value }}&nbsp;{{ option.unit }}</div>
                                @if (option.unit === 'pa') {
                                    <div matListItemLine>
                                        @if (option.round_trip) {
                                            <ng-container i18n>Aller / Retour</ng-container>
                                        } @else {
                                            <ng-container i18n>Aller simple</ng-container>
                                        }
                                    </div>
                                }
                            </mat-list-item>
                        }
                    </mat-list>
                </div>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>

</mat-card-content>
