<mat-card class="mho-estimation">
    <mat-card-header>
        <mat-card-title i18n>Estimation de l'attaque</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="rows" class="mat-elevation-z8">
            <ng-container matColumnDef="options">
                <td mat-header-cell *matHeaderCellDef colspan="3">
                    <div class="estimation-options">
                        <mat-form-field>
                            <mat-label i18n>Jour actuel</mat-label>
                            <input matInput type="number" required [(ngModel)]="current_day">
                        </mat-form-field>
                        <mat-radio-group [(ngModel)]="today">
                            <mat-radio-button [value]="true" i18n>Estimation pour l'attaque du soir</mat-radio-button>
                            <mat-radio-button [value]="false" i18n>Estimation pour l'attaque du lendemain</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="percent">
              <th mat-header-cell *matHeaderCellDef>%</th>
              <td mat-cell *matCellDef="let element">{{element.percent}}</td>
            </ng-container>

            <ng-container matColumnDef="min">
              <th mat-header-cell *matHeaderCellDef i18n>Minimum</th>
              <td mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input matInput [(ngModel)]="element.min">
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="max">
              <th mat-header-cell *matHeaderCellDef i18n>Maximum</th>
              <td mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input matInput [(ngModel)]="element.max">
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="estimate">
                <td mat-footer-cell *matFooterCellDef style="text-align: right;" colspan="3">
                    <button mat-button [color]="'accent'" (click)="submit()" [disabled]="!current_day">Estimer</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['options']; sticky: true"></tr>
            <tr mat-header-row *matHeaderRowDef="['percent', 'min', 'max']; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: ['percent', 'min', 'max'];"></tr>
            <tr mat-footer-row *matFooterRowDef="['estimate']; sticky: true"></tr>
          </table>

    </mat-card-content>
</mat-card>
