<div class="mho-map-update-cell">
    <form [formGroup]="cell_form">
        <div class="content">
            <div class="zombies">
                <mat-form-field class="zombies-here">
                    <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'icons/small_zombie.gif'" width="16" height="16">
                    <input matInput formControlName="nb_zombies">
                </mat-form-field>
                <mat-form-field class="killed-zombies">
                    <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'icons/map/map_icon_splatter.png'" width="23" height="17">
                    <input matInput formControlName="nb_killed_zombies">
                </mat-form-field>
            </div>
            <div class="zone">
                <div class="pdc">
                    <img [ngSrc]="HORDES_IMG_REPO + 'emotes/human.gif'" width="16" height="16">
                    {{cell.nb_hero}}&nbsp;<span i18n>points</span>
                </div>
                <div class="empty">
                    <mat-checkbox formControlName="is_dryed" i18n>Zone épuisée</mat-checkbox>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <div>
            <div class="items-header">
                <h4 i18n>Liste des objets</h4>
                <div class="add-remove">
                    <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_less.gif'" *ngIf="cell.items && cell.items.length > 0"
                         [mat-menu-trigger-for]="menuRemove" width="16" height="16">
                    <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_more.gif'" [mat-menu-trigger-for]="menuAdd" width="16" height="16">
                </div>
            </div>


            <div class="items">
                <div *ngFor="let item of cell.items">
                    <img *ngIf="(item | itemDetails:all_items) as complete_item"
                         [ngSrc]="HORDES_IMG_REPO + complete_item.img" [class.broken]="item.is_broken" width="16" height="16">
                    <span class="item-quantity">{{item.count}}</span>
                </div>
            </div>

            <mat-divider></mat-divider>
        </div>
        <div *ngIf="cell.citizens && cell.citizens.length > 0">
            <div class="bags-header">
                <h4 i18n>Liste des objets en sacs</h4>
            </div>


            <div class="items">
                <div *ngFor="let item of (cell.citizens | itemsInBags:citizens)">
                    <img *ngIf="item" [ngSrc]="HORDES_IMG_REPO + item.item.img" [class.broken]="item.is_broken"
                         [title]="item.item.label[locale]" width="16" height="16">
                    <span class="item-quantity">{{item.count}}</span>
                </div>
            </div>

            <mat-divider></mat-divider>
        </div>

        <div class="last-update">
            <mho-last-update [lastUpdateInfo]="cell.update_info"></mho-last-update>
        </div>
    </form>
</div>

<mat-menu #menuAdd="matMenu" class="menu-add">
    <div class="search" (click)="$event.stopPropagation()">
        <mat-form-field>
            <mat-label i18n>Ajouter un objet</mat-label>
            <input matInput #searchItem>
        </mat-form-field>
    </div>
    <div class="items">
        <ng-container *ngFor="let item of all_items">
            <img
                *ngIf="searchItem.value === '' || $any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label).toLowerCase().indexOf(searchItem.value.toLowerCase()) > -1"
                [ngSrc]="HORDES_IMG_REPO + item.img" (click)="addItem(cell, item.id)"
                [title]="$any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label)" width="16" height="16">
        </ng-container>
    </div>
</mat-menu>
<mat-menu #menuRemove="matMenu" class="menu-remove">
    <div class="search" (click)="$event.stopPropagation()">
        <mat-form-field>
            <mat-label i18n>Supprimer un objet</mat-label>
            <input matInput #searchItem>
        </mat-form-field>
    </div>
    <div class="items">
        <ng-container *ngFor="let item of (cell.items | arrayItemDetails:all_items)">
            <ng-container
                *ngIf="searchItem.value === '' || $any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label).toLowerCase().indexOf(searchItem.value.toLowerCase()) > -1">
                <img [ngSrc]="HORDES_IMG_REPO + item.img" (click)="removeItem(cell, item.id)"
                     [title]="$any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label)" width="16" height="16">
            </ng-container>
        </ng-container>
    </div>
    <div mat-menu-item class="empty-bag" (click)="emptyItems(cell)">
        <img [ngSrc]="HORDES_IMG_REPO + 'icons/b_close.png'" style="margin-right: 0.5em" width="16" height="16">
        <span i18n>Retirer tous les objets</span>
    </div>
</mat-menu>
