@use 'variables';


.mho-map-cell-detail {
    position: absolute;
    min-width: 250px;
    max-width: 500px;
    background-color: variables.$map-details-color;
    border: 2px solid variables.$primary;
    z-index: 100;
    white-space: pre-wrap;
    padding: 0.5em;

    .mat-divider {
        margin: 0.5em 0;
    }

    .details-header {

        .title {
            text-align: center;

            h1 {
                font-weight: bold;
                margin-bottom: 0.25em;
            }
        }

        .coords-distance {

            > span:not(:last-child) {
                &::after {
                    margin: 0 0.5em;
                    content: ' - ';
                }
            }

            display: flex;
            justify-content: center;
            align-items: center;

            .distance-pa {
                > img {
                    vertical-align: middle;
                }
            }
        }
    }

    .content {
        .zombies {
            display: flex;
            gap: 0.5em;
            justify-content: space-between;
            align-items: center;
        }

        .pdc {
        }
    }

    .citizens {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        white-space: pre-wrap;

        > div:not(:last-child)::after {
            content: ', ';
        }

        > div > img {
            margin-right: 0.25em;
        }
    }

    .items {
        display: flex;
        align-items: center;
        gap: 0.5em;
        flex-wrap: wrap;

        .broken {
            .item_img {
                img {
                    border: 1px dashed red;
                }
            }
        }

        .item-quantity {
            font-size: 0.75em;
            vertical-align: baseline;
        }
    }
}
