.mho-hero-skills {
    .content {

        .mat-expansion-panel {
            background-color: rgba(0, 0, 0, 0.15);

            .mat-mdc-table {
                background-color: transparent;

                tr:not(:first-child) {
                    td {
                        padding-top: 0.5em;
                    }
                }

                tr:not(:last-child) {
                    td {
                        padding-bottom: 0.5em;
                    }
                }

                td.mat-column-name {
                    width: 115px;
                }
            }
        }

        .skill-row {
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            align-items: center;
        }
    }
}
