<mat-card-header>
    <mat-card-title i18n>Pouvoirs</mat-card-title>
</mat-card-header>
<mat-card-content class="mho-hero-skills">
    <mat-accordion class="content" [multi]="true">
        @for (skill_class of new_hero_skills; track class_index; let class_index = $index) {
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ skill_class.name[locale] }}</mat-panel-title>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="skill_class.levels">
                    <ng-container matColumnDef="name">
                        <td mat-cell *matCellDef="let element">
                            <div>{{ element.name[locale] }}</div>
                            @if (element.pointsNeeded) {
                                <div>
                                    <small i18n>{{ element.pointsNeeded }} points pour débloquer</small>
                                </div>
                            }
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <td mat-cell *matCellDef="let element">
                            @for (skill of element.skills; track $index) {
                                <div class="skill-row">
                                    <img [ngSrc]="HORDES_IMG_REPO + 'emotes/middot.gif'" width="16" height="16">{{ skill[locale] }}
                                </div>
                            }
                        </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'description']"></tr>
                </table>
            </mat-expansion-panel>
        }
    </mat-accordion>
</mat-card-content>
