<div class="mho-hero-skills">
    <mat-accordion class="content" [multi]="true">
        @for (group of groups(); track $index) {
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ group.name }}</mat-panel-title>
                </mat-expansion-panel-header>
                <table #table mat-table [dataSource]="group.levels">
                    <ng-container matColumnDef="name">
                        <td mat-cell *matCellDef="let element; table: table">
                            <div>{{ element.name }}</div>
                            @if (element.points_needed) {
                                <div>
                                    <small i18n>{{ element.points_needed }} points pour débloquer</small>
                                </div>
                            }
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <td mat-cell *matCellDef="let element; table: table">
                            @for (bullet of element.bullets; track $index) {
                                <div class="skill-row">
                                    <img [ngSrc]="HORDES_IMG_REPO + 'emotes/middot.gif'" width="16" height="16">{{ bullet }}
                                </div>
                            }
                        </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'description']"></tr>
                </table>
            </mat-expansion-panel>
        }
    </mat-accordion>
</div>
