.mho-ruins {
    table {
        width: 100%;

        .mat-cell {
            padding: 0.5em;
        }

        .mat-header-cell {
            padding: 0 0.5em;
        }

        td {
            &.label {
                text-align: center;
            }

            >.drops-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                min-width: 250px;

                >div {
                    margin: 0.5em;
                    text-align: center;

                    >* {
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }
    }
}
