.mho-wishlist {
    .hidden {
        display: none;
    }

    table {
        width: 100%;
        tr {
            > td {
                &.name {
                    > div {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                        white-space: nowrap;
                        flex-wrap: nowrap;
                    }
                }
            }
        }
    }
}
