<div class="mho-header-with-filter">
    <div [style.text-align]="textAlign">
        {{header}}

        <mat-icon class="open-menu-icon" *ngIf="!visible"
            (click)="$event.preventDefault(); $event.stopPropagation(); displayFilter()">
            filter_alt
        </mat-icon>

    </div>
    <ng-container *ngIf="visible">
        <mat-form-field (click)="$event.stopPropagation()" class="short-bottom">
            <mho-select #filter [multiple]="true" [options]="options" [bindLabel]="bindLabel" [ngModel]="filterValue"
                (ngModelChange)="filterValueChange.next($event); checkVisibility()" (closed)="checkVisibility();">
            </mho-select>
        </mat-form-field>
    </ng-container>
</div>
