<mho-wiki>
    <mat-card class="mho-items">
        <mat-card-header>
            <mat-card-title i18n>Objets</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="displayed_items">
                <div class="filter"><mho-filter (filterChange)="applyFilter($event)"></mho-filter></div>
                <ul>
                    <mho-item *ngFor="let item of displayed_items" [item]="item"></mho-item>
                </ul>
            </ng-container>
        </mat-card-content>
    </mat-card>
</mho-wiki>
