<h1 mat-dialog-title i18n>Pictos de {{ data.citizenName }} dans cette ville</h1>
<div mat-dialog-content class="citizen-pictos">
    @if (loading()) {
        <div class="citizen-pictos__spinner">
            <mat-spinner diameter="32"/>
        </div>
    } @else if (error()) {
        <div class="citizen-pictos__error" i18n>Impossible de récupérer les pictos.</div>
    } @else {
        <mho-pictos-list [pictos]="pictos()" [showTotal]="true"/>
    }
</div>
<div mat-dialog-actions>
    @if (is_logged_in) {
        <button class="citizen-pictos__import" mat-stroked-button type="button"
                (click)="triggerImport()" [disabled]="importing()">
            @if (importing()) {
                <mat-spinner diameter="18"/>
            } @else {
                <span class="citizen-pictos__import-label">
                    <mat-icon>refresh</mat-icon>
                    @if (importedAt(); as importedAt) {
                        <ng-container i18n>À jour au {{ importedAt | date:'short' }}</ng-container>
                    } @else {
                        <ng-container i18n>Importer les données</ng-container>
                    }
                </span>
            }
        </button>
    }
    <button mat-button type="button" [mat-dialog-close]="true" cdkFocusInitial i18n>Fermer</button>
</div>
