.mho-thanks {
    .mat-mdc-dialog-title {
        > div {
            display: flex;
            justify-content: space-between;
            position: relative;
            h2 {
                display: inline-block;
            }
            .close-button {
                position: absolute;
                top: -2em;
                right: -1em;
            }
        }
    }
}
