.mho-thanks {
    .mat-mdc-dialog-title {
        display: flex;

        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;

            h2 {
                display: inline-block;
                margin: 0;
            }

            .close-button {
                right: -24px;
            }
        }
    }
}
