<mat-card-header class="mho-camping-header">
    <mat-card-title>
        <ng-container i18n>Camping</ng-container>
        <button mat-icon-button (click)="shareCamping()" matTooltip="Copier le lien de la simulation" i18n-matTooltip>
            <mat-icon>share</mat-icon>
        </button>
    </mat-card-title>
    <div class="actions">
        <mat-slide-toggle *ngIf="town" [(ngModel)]="in_town_camping" (ngModelChange)="changeInTownMode()">
            <ng-container i18n>Dans ma ville</ng-container>
        </mat-slide-toggle>

        <mat-slide-toggle [(ngModel)]="display_bonus_ap" (ngModelChange)="changeBonusMode($event)">
            <ng-container i18n>Bonus en équivalent PA</ng-container>
        </mat-slide-toggle>
    </div>
</mat-card-header>
<mat-card-content class="mho-camping">
    <form [formGroup]="configuration_form" *ngIf="configuration_form && bonus">
        <div class="camping-params">
            <div>
                <ng-container *ngTemplateOutlet="citizenInfo"></ng-container>
                <ng-container *ngTemplateOutlet="cellInfo"></ng-container>
            </div>
            <ng-container *ngTemplateOutlet="townInfo"></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="campingResult"></ng-container>

        <ng-template #citizenInfo>
            <div>
                <h3 i18n>Le citoyen</h3>
                <div>
                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Métier</mat-label>
                        <mho-select [formControlName]="'job'" [options]="jobs" [multiple]="false" [bindLabel]="'value.label'" [bindIcon]="'value.img'">
                        </mho-select>
                    </mat-form-field>
                    <mat-checkbox [formControlName]="'vest'"
                                  *ngIf="$any(configuration_form.get('job')?.value)?.key === JOB_SCOUT.key">
                        <img [ngSrc]="HORDES_IMG_REPO + 'emotes/proscout.gif'" width="16" height="16">
                        <ng-container i18n>Tenue de camouflage</ng-container>&nbsp;
                        <small i18n>(Bonus&nbsp;:&nbsp;{{ bonus.zombie_vest | campingDisplayBonus:display_bonus_ap:locale }}&nbsp;par zombie au lieu
                            de&nbsp;{{ bonus.zombie_no_vest | campingDisplayBonus:display_bonus_ap:locale }})</small>
                    </mat-checkbox>
                    <mat-checkbox [formControlName]="'pro'" #proCamper>
                        <img [ngSrc]="HORDES_IMG_REPO + 'status/status_camper.gif'" width="16" height="16">
                        <ng-container i18n>Campeur professionnel</ng-container>
                    </mat-checkbox>
                    <mat-checkbox [formControlName]="'tomb'" style="margin-bottom: 0.5em">
                        <img [ngSrc]="HORDES_IMG_REPO + 'building/small_cemetery.gif'" width="16" height="16">
                        <ng-container i18n>Tombe</ng-container>&nbsp;
                        <small i18n>(Bonus&nbsp;:&nbsp;{{ bonus.tomb | campingDisplayBonus:display_bonus_ap:locale }})</small>
                    </mat-checkbox>
                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Nombre de campings déjà effectués</mat-label>
                        <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'emotes/sleep.gif'" width="16" height="16">
                        <input matInput type="number" #campings [formControlName]="'campings'" min="0">
                        <small matSuffix
                               i18n>Bonus&nbsp;:&nbsp;{{ calculateNbCampingsChance(+campings.value, proCamper.checked, configuration_form.get('town')?.value['id'] === 'PANDE') | campingDisplayBonus:display_bonus_ap:locale }}
                        </small>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Nombre de pelures de peau et de toiles de tentes dans le sac</mat-label>
                        <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'emotes/bag.gif'" width="16" height="16">
                        <input matInput type="number" [formControlName]="'objects'" min="0">
                        <small matSuffix i18n>Bonus&nbsp;:&nbsp;x{{ bonus.camp_items | campingDisplayBonus:display_bonus_ap:locale }}</small>
                    </mat-form-field>
                </div>
            </div>
        </ng-template>

        <ng-template #cellInfo>
            <div>
                <h3 i18n>La ville</h3>
                <div>
                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Type de ville</mat-label>
                        <mho-select #town [formControlName]="'town'" [options]="town_types" [bindLabel]="'label'" [moreInfo]="getMoreTownTypeInfoFn"
                                    [disabled]="!!configuration_form.get('town')?.disabled || this.in_town_camping">
                        </mho-select>
                        <small matSuffix
                               i18n>Bonus&nbsp;:&nbsp;{{ configuration_form.get('town')?.value['bonus'] | campingDisplayBonus:display_bonus_ap:locale }}</small>
                    </mat-form-field>
                    <mat-checkbox [formControlName]="'night'">
                        <img [ngSrc]="HORDES_IMG_REPO +  'pictos/r_doutsd.gif'" width="16" height="16">
                        <ng-container i18n>Nuit</ng-container>&nbsp;
                        <small i18n>(Bonus&nbsp;:&nbsp;{{ bonus.night | campingDisplayBonus:display_bonus_ap:locale }})</small>
                    </mat-checkbox>
                    <mat-checkbox [formControlName]="'devastated'">
                        <img [ngSrc]="HORDES_IMG_REPO + 'item/item_out_def_broken.gif'" width="16" height="16">
                        <ng-container i18n>Ville dévastée</ng-container>&nbsp;
                        <small i18n>(Bonus&nbsp;:&nbsp;{{ bonus.devastated | campingDisplayBonus:display_bonus_ap:locale }})</small>
                    </mat-checkbox>
                    <mat-checkbox [formControlName]="'phare'">
                        <img [ngSrc]="HORDES_IMG_REPO + 'building/small_lighthouse.gif'" width="16" height="16">
                        <ng-container i18n>Phare</ng-container>&nbsp;
                        <small i18n>(Bonus&nbsp;:&nbsp;{{ bonus.lighthouse | campingDisplayBonus:display_bonus_ap:locale }})</small>
                    </mat-checkbox>
                </div>
            </div>
        </ng-template>

        <ng-template #townInfo>
            <div>
                <h3 i18n>Le bâtiment</h3>
                <div>
                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Distance de la ville (en km)</mat-label>
                        <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'emotes/explo.gif'" width="16" height="16">
                        <input matInput type="number" #townDistance [formControlName]="'distance'" min="1">
                        <small matSuffix
                               i18n>Bonus&nbsp;:&nbsp;{{ calculateDistanceChance(+townDistance.value) | campingDisplayBonus:display_bonus_ap:locale }}</small>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Bâtiment</mat-label>
                        <mho-select [formControlName]="'ruin'" [options]="(in_town_camping ? town_ruins : ruins) | filterRuinsByKm:townDistance.value"
                                    [bindLabel]="'label.' + locale" [bindIcon]="'formatted_img'" [moreInfo]="getMoreRuinInfoFn">
                        </mho-select>
                        <mat-icon matSuffix [matTooltip]="help_ruins" style="vertical-align: middle" [color]="'primary'">help_outline</mat-icon>
                        <span matSuffix [innerHTML]="getMoreRuinInfoFn(configuration_form.get('ruin')?.value)"></span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="short-bottom" *ngIf="configuration_form.get('ruin')?.value['id'] === -1">
                        <mat-label i18n>Nombre de tas</mat-label>
                        <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'icons/uncover.gif'" width="16" height="16">
                        <input matInput type="number" [formControlName]="'bury_count'">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Nombre de zombies sur la case</mat-label>
                        <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'emotes/zombie.gif'" width="16" height="16">
                        <input matInput type="number" [formControlName]="'zombies'" min="0">
                        <small matSuffix
                               i18n>Bonus&nbsp;:&nbsp;x{{ (configuration_form.get('vest')?.value ? bonus.zombie_vest : bonus.zombie_no_vest) | campingDisplayBonus:display_bonus_ap:locale }}</small>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Nombre de campeurs déjà cachés sur la case</mat-label>
                        <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'emotes/human.gif'" width="16" height="16">
                        <input #hiddenCampers matInput type="number" [formControlName]="'hidden_campers'" min="0">
                        <small matSuffix
                               i18n>Bonus&nbsp;:&nbsp;{{ calculateCrowdChance(+hiddenCampers.value) | campingDisplayBonus:display_bonus_ap:locale }}</small>
                    </mat-form-field>

                    <mat-divider style="margin: 0.5em 0"></mat-divider>

                    <h3>
                        <ng-container i18n>Améliorations</ng-container>
                        <mat-icon matSuffix [matTooltip]="help_amelio" style="vertical-align: middle; margin-left: 0.25em;" [color]="'primary'">
                            help_outline
                        </mat-icon>
                    </h3>
                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Nombre d'améliorations simples faites sur la case</mat-label>
                        <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'icons/small_refine.gif'" width="16" height="16">
                        <input matInput type="number" [formControlName]="'improve'" min="0">
                        <small matSuffix i18n>Bonus&nbsp;:&nbsp;x{{ bonus.improve | campingDisplayBonus:display_bonus_ap:locale }}</small>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>Nombre d'objets de défense installés sur la case</mat-label>
                        <img matPrefix [ngSrc]="HORDES_IMG_REPO + 'item/cat_def.gif'" width="16" height="16">
                        <input matInput type="number" [formControlName]="'object_improve'" min="0">
                        <small matSuffix i18n>Bonus&nbsp;:&nbsp;x{{ bonus.object_improve | campingDisplayBonus:display_bonus_ap:locale }}</small>
                    </mat-form-field>
                    <div class="or">
                        <mat-button-toggle-group [(ngModel)]="and_amelio" (ngModelChange)="calculateCamping()" [ngModelOptions]="{standalone: true}">
                            <mat-button-toggle [value]="true" i18n [checked]="and_amelio">Et</mat-button-toggle>
                            <mat-button-toggle [value]="false" i18n [checked]="!and_amelio">Ou</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <mat-form-field appearance="outline" class="short-bottom">
                        <mat-label i18n>{{ display_bonus_ap ? 'Nombre' : 'Pourcentage' }} total d'améliotations sur la case</mat-label>
                        <span matPrefix>
                            <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_refine.gif'" width="16" height="16"> + <img
                            [ngSrc]="HORDES_IMG_REPO + 'item/cat_def.gif'" width="16" height="16">
                        </span>
                        <input matInput type="number" [formControlName]="'complete_improve'" min="0">
                        <small matSuffix i18n>Bonus&nbsp;:&nbsp;x1</small>
                    </mat-form-field>
                </div>
            </div>
        </ng-template>

        <ng-template #campingResult>
            <ng-container *ngIf="camping_result && camping_result.label">
                <h3>
                    <ng-container i18n>Résultat</ng-container>&nbsp;:&nbsp;
                </h3>
                <div>
                    <ng-container i18n>Chances de survie&nbsp;:&nbsp;</ng-container>
                    {{ camping_result.bounded_probability | number:'1.0-2':locale }}%&nbsp;
                    <ng-container *ngIf="camping_result.probability !== camping_result.bounded_probability || display_bonus_ap"
                    >({{ camping_result.probability | campingDisplayBonus:display_bonus_ap:locale }})&nbsp;
                    </ng-container>
                </div>
                <small>{{ camping_result.label[locale] }}</small>
            </ng-container>
        </ng-template>

    </form>
</mat-card-content>
