@import "variables.scss";

.mho-camping {
    .camping-params {
        display: flex;
        flex-wrap: wrap;

        >div {
            flex: 1;
            min-width: 300px;

            &:not(:first-child) {
                padding-left: 0.25em;
            }

            &:not(:last-child) {
                padding-right: 0.25em;
            }

            h3 {
                margin-bottom: 0.5em;
            }

            .mat-form-field,
            .mat-checkbox {
                display: block;
                margin-right: 0.5em;

                img {
                    margin-right: 0.5em;
                    vertical-align: sub;
                }
            }

            .or {
                text-align: center;

                .mat-button-toggle-group {
                    border-color: $primary;

                    .mat-button-toggle {
                        border-color: $primary;
                    }

                    .mat-button-toggle-label-content {
                        line-height: 42px !important;
                    }

                    .mat-button-toggle-checked {
                        background-color: $item_color;
                    }
                }
            }


        }
    }
}
