@use 'variables';

.mho-camping-header {
    justify-content: space-between;

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }
}

.mho-camping {
    .camping-params {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1em;

        > div {
            flex: 1;
            min-width: 300px;

            h3 {
                margin-bottom: 0.5em;
            }

            .mat-mdc-checkbox {
                display: block;

                img {
                    margin-right: 0.5em;
                    vertical-align: sub;
                }
            }


            .mat-mdc-form-field {
                display: block;

                .mat-mdc-form-field-icon-prefix {
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                }

                .mat-mdc-form-field-icon-suffix {
                    small {
                        margin-right: 0.5em;
                    }
                }
            }

            .or {
                text-align: center;
                margin-bottom: 1em;

                .mat-button-toggle-group {
                    --mat-standard-button-toggle-divider-color: #{variables.$primary};
                    --mat-standard-button-toggle-background-color: variables.$card-background-color;

                    .mat-button-toggle-label-content {
                        line-height: 42px !important;
                    }

                    .mat-button-toggle-checked {
                        background-color: variables.$item_color;
                    }
                }
            }


        }
    }
}
