@use 'variables';

.mho-item {
    list-style: none;

    &.simple {
        min-width: 250px;
        flex: 1;
    }

    &.advanced {
        width: 100%;
    }


    &.force-open > div .title-part {
        cursor: default !important;
    }

    .mat-divider {
        margin: 0.5em 0;
    }

    > div {
        background-color: variables.$item-color;
        width: 100%;
        height: 100%;
        border-radius: 0.25em;

        .title-part {
            height: 48px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .item_title {
                margin: auto 0.5em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .item_img {
                    min-width: 35px;
                    padding-right: 0.25em;
                    display: inline-block;

                    img {
                        vertical-align: middle;
                    }

                    .item_count {
                        vertical-align: sub;
                        font-size: 0.75em;
                    }
                }

                .item_label {
                    vertical-align: middle;
                }
            }

            .mat-mdc-icon-button {
                --mat-icon-button-icon-size: 16;
            }
        }

        .advanced-part {
            margin: 0 1em;
            padding-bottom: 1em;

            img {
                margin-right: 0.5em;
            }
        }
    }

    .broken {
        .item_img {
            img {
                border: 1px dashed red;
            }
        }
    }

}
