<mat-card-header>
    <mat-card-title>
        {{ page.title }}
        <button mat-icon-button type="button" [matMenuTriggerFor]="shareMenu" matTooltip="Choisir le mode de partage" i18n-matTooltip>
            <mat-icon>share</mat-icon>
        </button>
        <mat-menu #shareMenu>
            <div mat-menu-item i18n (click)="copyUrl()">Copier l'URL</div>
            <div mat-menu-item i18n (click)="shareForum()">Copier au format forum</div>
        </mat-menu>
    </mat-card-title>
</mat-card-header>
<mat-card-content class="mho-tutorial-page">
    @if (page.lead) {
        <p class="lead" [innerHTML]="page.lead"></p>
    }
    @for (section of page.sections; track $index) {
        <section class="tutorial-section">
            @if (section.title) {
                <h2>{{ section.title }}</h2>
            }
            @if (section.intro) {
                <p class="intro" [innerHTML]="section.intro"></p>
            }
            <mho-accordion [items]="section.items"></mho-accordion>
            @if (section.outro) {
                <p class="outro" [innerHTML]="section.outro"></p>
            }
        </section>
    }
</mat-card-content>
