<table *ngIf="complete_map">
    <thead>
        <ng-container *ngTemplateOutlet="firstLastRow; context: {$implicit: true}"></ng-container>
    </thead>
    <tbody>
        <tr *ngFor="let row of drawed_map; let row_index = index">
            <mho-map-border [vertical]="true" [horizontal]="false"
                [index]="+complete_map.town_y - row_index"></mho-map-border>
            <mho-map-cell *ngFor="let cell of row; trackBy: trackByCellId" [cell]="cell" [allItems]="allItems"
                [allRuins]="allRuins" [options]="options" [drawedMap]="drawed_map"></mho-map-cell>
            <mho-map-border [vertical]="true" [horizontal]="false"
                [index]="+complete_map.town_y - row_index"></mho-map-border>
        </tr>
    </tbody>
    <tfoot>
        <ng-container *ngTemplateOutlet="firstLastRow; context: {$implicit: false}"></ng-container>
    </tfoot>

    <ng-template #firstLastRow let-first>
        <tr [class.first]="first" [class.last]="!first">
            <mho-map-border [vertical]="true" [horizontal]="true"></mho-map-border>
            <mho-map-border [vertical]="false" [horizontal]="true" *ngFor="let x of x_row" [index]="x"></mho-map-border>
            <mho-map-border [vertical]="true" [horizontal]="true"></mho-map-border>
        </tr>
    </ng-template>
</table>
