<div mat-dialog-title class="mho-despair-deaths-calculator-title">
    <h2 i18n>Calculateur de morts par désespoir</h2>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content class="mho-despair-deaths-calculator">

    @for (day of days; track day.day; let index = $index) {
        <div class="day">
            <h3 class="day-label">{{ day.day }}</h3>
            <div class="fields">
                <!--            @if (index <= 0) {-->
                <!--            <mat-form-field>-->
                <!--                <mat-label>Points de contrôle</mat-label>-->
                <!--                <input matInput [(ngModel)]="day.nb_pdc">-->
                <!--            </mat-form-field>-->
                <!--            }-->
                <mat-form-field class="no-bottom" appearance="outline">
                    <mat-label i18n>Zombies sur la case</mat-label>
                    <input matInput type="number" [(ngModel)]="day.nb_zombies" [disabled]="index > 0" (ngModelChange)="rebuildElements()">
                </mat-form-field>
                @if (index > 0) {
                    <mat-form-field class="no-bottom" appearance="outline">
                        <mat-label i18n>Zombies morts dans la nuit</mat-label>
                        <input matInput type="number" [(ngModel)]="day.nb_night_dead_zombies" disabled>
                    </mat-form-field>
                }
                <mat-form-field class="no-bottom" appearance="outline">
                    <!--                @if (index > 0) {-->
                    <mat-label i18n>Zombies tués</mat-label>
                    <!--                } @else {-->
                    <!-- <mat-label i18n>Kills nécessaires</mat-label> -->
                    <!--                }-->
                    <input matInput type="number" [(ngModel)]="day.nb_killed_zombies" (ngModelChange)="rebuildElements()">
                </mat-form-field>
            </div>
        </div>
    }
</mat-dialog-content>
