@use 'variables';

.mho-bank-header {
    justify-content: space-between;
}

.mho-bank {

    display: flex;
    flex-direction: column;

    ul {
        padding: 0;
        margin-top: 0;
        flex: 1;
        overflow: auto;

        .category {
            > h2 {
                margin: 0.5em 0;
            }

            > .items {
                display: flex;
                flex-wrap: wrap;
                gap: 0.25em;
            }
        }
    }

    .filter {
        display: flex;
        align-items: baseline;
        gap: 0.5em;
        flex-wrap: wrap;

        .properties-filter {
            flex: 1;
            min-width: 350px;
        }
    }

    .condensed {
        display: flex;
        align-items: flex-start;
        margin: 0;
        flex-wrap: wrap;
        gap: 1em;

        .bank {
            width: 240px;
            padding: 0.5em;
            border: 1px solid variables.$item_color;

            .category {
                > h2 {
                    font-size: 10px;
                    line-height: 14px;
                    font-weight: 700;
                    margin: 2px;
                    font-variant: small-caps;
                }
            }

            .items {
                display: flex;
                align-items: baseline;
                flex-wrap: wrap;
                margin: 0;

                .item {
                    list-style: none;
                    margin: 2px;
                    vertical-align: text-bottom;
                    cursor: pointer;
                    border: 1px solid transparent;
                    height: 18px;
                    max-width: 40px;
                    display: inline-flex;
                    align-items: center;

                    &.broken {
                        border: 1px dotted red;
                    }

                    > img {
                        width: 16px;
                        height: 16px;
                    }

                    > span {
                        font-size: 9px;
                        position: relative;
                    }

                    &:hover {
                        border-color: variables.$primary;
                        background-color: variables.$item_color;
                    }
                }
            }
        }

        .detail {
            flex: 1;
        }
    }
}
