<mat-card-header class="mho-bank-header">
    <mat-card-title i18n>Banque</mat-card-title>
    <mat-slide-toggle [(ngModel)]="condensed_display" (ngModelChange)="changeCondensedDisplay()" i18n>Affichage condensé</mat-slide-toggle>
</mat-card-header>
<mat-card-content class="mho-bank">
    @if (displayed_bank_items) {
        <div class="filter">
            <mho-filter (filterChange)="filter_value = $event; applyFilters()"></mho-filter>
            <mat-form-field class="properties-filter">
                <mat-label i18n>Chercher des objets par propriétés</mat-label>
                <mho-select multiple [options]="options" [bindLabel]="'value.label'" [(ngModel)]="select_value"
                            (filterChange)="applyFilters()">
                </mho-select>
            </mat-form-field>
        </div>
        @if (!condensed_display) {
            <ul>
                @for (category of (displayed_bank_items | itemsGroupByCategory); track category.category.id_category) {
                    <div class="category">
                        <h2>{{ category.category.label[locale] }}</h2>
                        <div class="items">
                            @for (bank_item of category.items; track bank_item.id) {
                                <mho-item [item]="bank_item"></mho-item>
                            }
                        </div>
                    </div>
                }
            </ul>
        } @else {
            <div class="condensed">
                <div class="bank">
                    @for (category of (displayed_bank_items | itemsGroupByCategory:'id'); track category.category.id_category) {
                        <div class="category">
                            <h2>{{ category.category.label[locale] }}</h2>
                            <ul class="items">
                                @for (bank_item of category.items; track bank_item.id) {
                                    <li class="item" (click)="detailed_item = bank_item"
                                        [class.broken]="bank_item.is_broken" [matTooltip]="bank_item.label[locale]">
                                        <img class="item-icon" [ngSrc]="HORDES_IMG_REPO + bank_item.img" width="16" height="16">
                                        @if (bank_item.bank_count > 1) {
                                            <span class="item-count">{{ bank_item.bank_count }}</span>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                <div class="detail">
                    <mho-item [item]="detailed_item" forceOpen></mho-item>
                </div>
            </div>
        }
    }
</mat-card-content>
