$primary: var(--primary);
$accent: var(--accent);
$warn: var(--warn);

$footer-color: var(--footer-color);
$sidenav_bg_color: var(--sidenav-bg-color);
$item_color: var(--item-color);
$map-details-color: var(--map-details-color);
$card-background-color: var(--card-background-color);
$switch-selected-accent-icon-color: var(--switch-selected-accent-icon-color);

$compass-center-color: #444;
$compass-cardinals-color: #DDD;
$compass-ordinals-color: #AAA;

$compass-selected-center-color: var(--accent);
$compass-selected-cardinals-color: var(--sidenav-bg-color);
$compass-selected-ordinals-color: var(--primary);

$scrollbar-base-color: var(--scrollbar-base-color);
$scrollbar-hover-color: var(--scrollbar-hover-color);
$scrollbar-active-color: var(--scrollbar-active-color);

$inactive-chip-base-color: var(--inactive-chip-base-color);
$img-shadow-color: var(--img-shadow-color);

$accented-background-color: var(--accented-background-color);
