<div [id]="MHO_BUTTON_ID" [style.left]="(nb_children * 33) + 10 + 'px'"
    (click)="$event.preventDefault(); $event.stopPropagation();">
    <h1>
        <img [src]="LOGO_URL + 'logo_mho_64x64_outlined.png'" width="16px" height="16px">
        <span class="label_text">{{title}}</span>
    </h1>
    <div>
        <a class="button" (click)="openWiki()">{{wiki_label}}</a>
        <a class="button" (click)="openTools()">{{tools_label}}</a>
        <ng-container *ngTemplateOutlet="parameters"></ng-container>
        <ng-container *ngTemplateOutlet="tools"></ng-container>
    </div>
</div>

<ng-template #parameters>
    <div>
        <h1>{{parameters_label}}</h1>
        <ul class="category" *ngFor="let category of categories">
            <h2>
                {{category.label}}
                <mho-help-button *ngIf="category.help" [message]="category.help"></mho-help-button>
            </h2>
            <div>
                <ng-container *ngFor="let param of category.params">
                    <ng-container *ngTemplateOutlet="parameter; context: {$implicit: param}"></ng-container>
                </ng-container>
            </div>
        </ul>
    </div>
</ng-template>

<ng-template #tools>
    <div>
        <h1>{{informations_label}}</h1>
        <ul>
            <li *ngFor="let information of informations">
                <a [href]="information.href" target="_blank"
                    (click)="information.action ? information.action() : undefined">
                    <img [src]="information.icon">
                    <span class="small">{{information.label}}</span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #parameter let-param>
    <li class="param">
        <div>
            <input #paramInput type="checkbox" [id]="param.id" (click)="updateParams(param.id, $event)">
            <label [for]="param.id" class="small">{{param.label}}</label>
            <ul *ngIf="param.params" class="sub-list">
                <ng-container *ngFor="let sub_param of param.params">
                    <ng-container *ngTemplateOutlet="parameter; context: {$implicit: sub_param}"></ng-container>
                </ng-container>
            </ul>
        </div>
        <mho-help-button *ngIf="param.help" [message]="param.help"></mho-help-button>
    </li>
</ng-template>
