#mho-extention-button {
    background-color: #5c2b20;
    border: 1px solid #f0d79e;
    outline: 1px solid #000;
    position: absolute;
    top: 10px;
    z-index: 9999;
    cursor: default;

    &:not(:hover) {
        z-index: initial;
        > h1 > span,
        > div {
            display: none;
        }
    }

    &:hover {
        h1 {
            border-bottom: 1px solid #b37c4a;
            margin-bottom: 5px;
        }
    }

    > h1 {
        cursor: help;
    }

    h1,
    h2 {

        height: auto;
        font-size: 8pt;
        text-transform: none;
        font-variant: small-caps;
        background: none;
        margin: 0 5px;
        padding: 0;
        line-height: 17px;
        color: #f0d79e;

        > img {
            vertical-align: -10%;
        }

        > span {
            display: inline;
            color: #f0d79e;
            cursor: help;
            font-family: Trebuchet MS, Arial, Verdana, sans-serif;
            letter-spacing: 1px;
            line-height: 17px;
            text-align: left;
            text-transform: none;
            margin-left: 1em;
        }
    }

    > div {
        display: block;
        margin: 0 5px 8px 5px;
        font-size: 0.9em;
        width: 350px;

        ul {
            padding: 0;
            margin: 0;
            color: #f0d79e;

            li {
                list-style: none;

                input {
                    cursor: pointer;
                    vertical-align: middle;
                }

                a > img {
                    margin: 0 4px 0 3px;
                }
            }
        }

        ul.category > h2, li.param {
            display: flex;
            justify-content: space-between;
        }

        ul.sub-list {
            padding-left: 16px;
        }
    }
}
