.mho-wishlist {
    .hidden {
        display: none;
    }

    table {
        width: 100%;
        tr {
            > td {
                > img {
                    margin-right: 0.5em;
                }
            }
        }

        .table-filters {
            display: flex;
            justify-content: space-between;
        }
    }
}
