<mat-card class="mho-wishlist">
    <mat-card-header>
        <mat-card-title>Liste de courses</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="wishlist_info">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="datasource" matSort>

                    <ng-container matColumnDef="filters">
                        <td mat-header-cell *matHeaderCellDef colspan="6">
                            <div class="table-filters">
                                <mat-form-field appearance="standard">
                                    <mat-label>Filtrer</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" #filterInput>
                                </mat-form-field>
                                <mat-form-field appearance="standard">
                                    <mat-label>Ajouter un objet</mat-label>
                                    <mat-select #addItemSelect (valueChange)="addItemToWishlist($event)">
                                        <mat-form-field class="mat-option">
                                            <input matInput [placeholder]="'Rechercher un objet'" #addItemFilterInput>
                                        </mat-form-field>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let item of items" [value]="item"
                                            [style.display]="isObjectDisplayed(item) ? 'inherit' : 'none'">
                                            {{item.label[locale]}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="name" [sticky]="true">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom de l'objet</th>
                        <td mat-cell *matCellDef="let row">
                            <img [src]="HORDES_IMG_REPO + row.item.img" /><span>{{row.item.label[locale]}}</span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Priorité</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field>
                                <mat-select [(value)]="row.priority">
                                    <mat-option *ngFor="let priority of priorities" [value]="priority.count">
                                        {{priority.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="bank_count">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock en banque</th>
                        <td mat-cell *matCellDef="let row" #bankcount>{{row.bank_count}}</td>
                    </ng-container>

                    <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock souhaité</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field>
                                <input matInput type="number" [(ngModel)]="row.count">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="needed">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantité manquante</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field>
                                <input matInput type="number" [ngModel]="row.count - row.bank_count"
                                    (ngModelChange)="row.count = row.bank_count + $event">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button type="button" (click)="remove(row)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <!-- Footer -->
                    <ng-container matColumnDef="save">
                        <td mat-footer-cell *matFooterCellDef style="text-align: right;" colspan="6">
                            <button mat-button [color]="'accent'" (click)="updateWishlist()">Enregistrer</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['filters']; sticky: true"></tr>
                    <tr mat-header-row *matHeaderRowDef="columns_ids; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns_ids;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['save']; sticky: true"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">
                            <ng-container *ngIf="filterInput.nativeElement.value && filterInput.nativeElement.value !== ''; else emptyTable">Aucun
                                objet ne correspond au filtre "{{filterInput.nativeElement.value}}"</ng-container>
                            <ng-template #emptyTable>La liste est vide</ng-template>
                        </td>
                    </tr>
                </table>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>
