<div class="flag">
    <div class="taken">
        <h4 i18n>Ont pris le drapeau</h4>
        @for (citizen of entries | citizenTakeFlag:completeCitizenList:'taken'; track citizen) {
            <div>
                <mho-citizen-info [displayJob]="false" [displayShunStatus]="true" [displayPseudoMode]="displayPseudo"
                                  [citizen]="citizen"></mho-citizen-info>
            </div>
        }
    </div>
    <div class="not-taken">
        <h4 i18n>N'ont pas pris le drapeau</h4>
        @for (citizen of entries | citizenTakeFlag:completeCitizenList:'not-taken'; track citizen) {
            <div>
                <mho-citizen-info [displayJob]="false" [displayShunStatus]="true" [displayPseudoMode]="displayPseudo"
                                  [citizen]="citizen"></mho-citizen-info>
            </div>
        }
    </div>
</div>
