<div class="list-element-add-remove">
    @if (label() && label() !== '') {
        <div class="label">
            {{ label() }}

            @if (currentList() | isItems) {
                <div class="count-ap-in-bag">
                    {{ currentList() | countAvailableAp:lists() }}&nbsp;<mho-icon-ap></mho-icon-ap>
                </div>
            }

            @if (!readonly()) {
                <div class="add-remove">
                    <ng-container *ngTemplateOutlet="buttonRemove"></ng-container>
                    <ng-container *ngTemplateOutlet="buttonAdd"></ng-container>
                </div>
            }
        </div>
    }
    <div class="editable-container">
        <div class="list">
            @for (item of currentList(); track $index) {
                <img [ngSrc]="HORDES_IMG_REPO + item.img" [title]="$any(item.label && item.label[$any(locale)] ? item.label[$any(locale)] : item.label)"
                     style="cursor: pointer" width="16" height="16">
            }
        </div>
        @if (!label() && !readonly()) {
            <div class="add-remove">
                <ng-container *ngTemplateOutlet="buttonAdd"></ng-container>
                <ng-container *ngTemplateOutlet="buttonRemove"></ng-container>
            </div>
        }
    </div>
</div>

<ng-template #buttonAdd>
    <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_more.gif'" [matMenuTriggerFor]="menuAdd.menu"
         [matMenuTriggerData]="{menuLabel: addLabel(), lists: lists()}" width="16" height="16">
</ng-template>
<ng-template #buttonRemove>
    @if (currentList().length > 0) {
        <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_less.gif'" [matMenuTriggerFor]="menuRemove.menu"
             [matMenuTriggerData]="{menuLabel: removeLabel(), list: currentList(), emptyLabel: emptyLabel()}" width="16" height="16">
    }
</ng-template>

<mho-menu-add #menuAdd="menuAdd" (add)="add.emit($event);" [class]="class()"></mho-menu-add>
<mho-menu-remove #menuRemove="menuRemove" (remove)="remove.emit($event)" (empty)="empty.emit($event)" [class]="class()"></mho-menu-remove>
