<div class="list-element-add-remove">
    <div *ngIf="label && label !== ''" class="label">
        {{label}}

        <div class="add-remove" *ngIf="!readonly">
            <ng-container *ngTemplateOutlet="buttonRemove"></ng-container>
            <ng-container *ngTemplateOutlet="buttonAdd"></ng-container>
        </div>
    </div>
    <div class="editable-container">
        <div class="list">
            <ng-container *ngFor="let item of currentList">
                <img [ngSrc]="HORDES_IMG_REPO + item.img"
                     [title]="$any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label)"
                     style="cursor: pointer" width="16" height="16">
            </ng-container>
        </div>
        <div class="add-remove" *ngIf="!label && !readonly">
            <ng-container *ngTemplateOutlet="buttonAdd"></ng-container>
            <ng-container *ngTemplateOutlet="buttonRemove"></ng-container>
        </div>
    </div>
</div>

<ng-template #buttonAdd>
    <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_more.gif'" [matMenuTriggerFor]="menuAdd.menu"
         [matMenuTriggerData]="{menuLabel: addLabel, list: completeList}" width="16" height="16">
</ng-template>
<ng-template #buttonRemove>
    <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_less.gif'" *ngIf="currentList.length > 0"
         [matMenuTriggerFor]="menuRemove.menu"
         [matMenuTriggerData]="{menuLabel: removeLabel, list: currentList, emptyLabel: emptyLabel}" width="16" height="16">
</ng-template>

<mho-menu-add #menuAdd="menuAdd" (add)="add.next($event);"></mho-menu-add>
<mho-menu-remove #menuRemove="menuRemove" (remove)="remove.next($event)" (empty)="empty.next($event)"></mho-menu-remove>

<!--<mat-menu #menuAdd="matMenu" class="menu-add">
    <div class="search" (click)="$event.stopPropagation()">
        <mat-form-field>
            <mat-label>{{addLabel}}</mat-label>
            <input matInput #searchItem>
        </mat-form-field>
    </div>
    <div class="items">
        <ng-container *ngFor="let item of completeList">
            <img *ngIf="searchItem.value === '' || $any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label).toLowerCase().indexOf(searchItem.value.toLowerCase()) > -1"
                [ngSrc]="HORDES_IMG_REPO + item.img" (click)="add.next(item.id)"
                [title]="$any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label)" width="16" height="16">
        </ng-container>
    </div>
</mat-menu>
<mat-menu #menuRemove="matMenu" class="menu-remove">
    <div class="search" (click)="$event.stopPropagation()">
        <mat-form-field>
            <mat-label>{{removeLabel}}</mat-label>
            <input matInput #searchItem>
        </mat-form-field>
    </div>
    <div class="items">
        <ng-container *ngFor="let item of currentList">
            <ng-container
                *ngIf="searchItem.value === '' || $any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label).toLowerCase().indexOf(searchItem.value.toLowerCase()) > -1">
                <img [ngSrc]="HORDES_IMG_REPO + item.img" (click)="remove.next(item.id)"
                    [title]="$any(item.label[$any(locale)] ? item.label[$any(locale)] : item.label)" width="16" height="16">
            </ng-container>
        </ng-container>
    </div>
    <div mat-menu-item class="empty-bag" (click)="empty.next()">
        <img [ngSrc]="HORDES_IMG_REPO + 'icons/b_close.png'" style="margin-right: 0.5em" width="16" height="16">
        <span>{{emptyLabel}}</span>
    </div>
</mat-menu>
-->
