@import "variables.scss";

.list-element-add-remove {
    background-color: $item_color;
    border-radius: 0.5em;
    padding: 0.5em;

    .label {
        border-bottom: 1px dotted;
        margin-bottom: 0.5em;
        display: flex;
        justify-content: space-between;
        gap: 0.5em;

        .add-remove {
            white-space: nowrap;
        }
    }

    .editable-container {
        display: flex;
        justify-content: space-between;
        gap: 0.5em;

        .list {
            margin: auto 0;

            >img {
                vertical-align: middle;
            }
        }

        .bag {
            display: flex;
            gap: 0.25em;
            align-items: center;
        }

        .add-remove {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

        }
    }

    img {
        cursor: pointer;
    }
}

.menu-add,
.menu-remove {
    padding: 8px;
    .mat-mdc-menu-content {

        .empty-bag {
            display: flex;
            align-items: center;
        }

        .items {
            display: flex;
            flex-wrap: wrap;
            gap: 0.25em;

            >img {
                cursor: pointer;
            }
        }
    }
}
