<mat-select class="mho-select" [multiple]="multiple" [value]="value" (valueChange)="writeValue($event);"
            [attr.aria-labelledby]="parent_form_field.getLabelId()"
            (closed)="closed.next()" [placeholder]="placeholder" [panelClass]="class">
    @if (multiple) {
        <mat-select-trigger>
            @if (chips) {
                <mat-chip-listbox>
                    @for (single_value of $any(value); track single_value; let i = $index) {
                        <mat-chip (removed)="remove(single_value)" class="mho-select-chip">
                            <button type="reset" matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                            @if (single_value) {
                                @if (single_value | bind:bindValue:displayed_options; as display_value) {
                                    <ng-container *ngTemplateOutlet="icons; context: {$implicit: display_value}"></ng-container>
                                    @if (!noLabel) {
                                        <span>{{ display_value | label:bindLabel }}</span>
                                    }
                                }
                            }
                        </mat-chip>
                    }
                </mat-chip-listbox>
            } @else {
                <div style="display: flex; justify-content: space-between; align-items: center;">
                        <span style="overflow: hidden; text-overflow: ellipsis">
                            @if (value | bind:bindValue:displayed_options; as display_values) {
                                {{ display_values }}
                            }
                        </span>
                    @if (value && clearable) {
                        <i class="fal fa-close" style="margin-right: 1em"
                           (click)="$event.stopPropagation(); value = []; writeValue([])">
                        </i>
                    }
                </div>
            }
        </mat-select-trigger>
    } @else {
        <mat-select-trigger style="display: flex; justify-content: space-between;">
            @if (value | bind:bindValue:displayed_options; as display_value) {
                <span style="display: flex; align-items: center; gap: 0.5em;">
                    <ng-container *ngTemplateOutlet="icons; context: {$implicit: display_value}"></ng-container>
                    @if (!noLabel) {
                        {{ display_value | label:bindLabel }}
                    }
                </span>
            }
            @if (value && clearable) {
                <mat-icon matSuffix style="margin-right: 0.5em; position: relative;"
                          (click)="$event.stopPropagation(); value = undefined; writeValue(undefined)">
                    close
                </mat-icon>
            }
        </mat-select-trigger>
    }
    @if (complete_options && complete_options.length > 0 && searchable) {
        <form [autocomplete]="'off'">
            <mat-form-field class="no-bottom" style="width: 100%">
                <input matInput placeholder="Rechercher" class="mho-search" (input)="filter($event)" (keydown.space)="$event.stopPropagation()"
                       i18n-placeholder>
            </mat-form-field>
        </form>
        <mat-divider></mat-divider>
    }
    <div class="options-container">
        @if (emptyOption) {
            <mat-option class="mho-option" [value]="undefined">--</mat-option>
        }
        @for (option of displayed_options; track index; let index = $index) {
            <mat-option class="mho-option" [value]="option | bindValue:bindValue" [title]="option | label:bindLabel">
            <span style="display: flex; align-items: center; gap: 0.5em;">
                <ng-container *ngTemplateOutlet="icons; context: {$implicit: option}"></ng-container>
                @if (!noLabel) {
                    {{ option | label:bindLabel }}
                }
            </span>
                @if (moreInfo) {
                    <span [innerHTML]="moreInfo(option)" class="more-info"></span>
                }
            </mat-option>
        }
    </div>
</mat-select>

<ng-template #icons let-option>
    @if (bindIcon && option) {
        @if ((option | icon:bindIcon) !== '') {
            <img [ngSrc]="HORDES_IMG_REPO + (option | icon:bindIcon)" width="16" height="16">
        }
    }
</ng-template>
