<div #mhoWiki class="mho-wiki" [ngStyle]="{'height': mhoWiki.parentElement?.parentElement?.clientHeight + 'px'}">
    <mat-drawer-container [style.height]="'100%'">
        <mat-drawer class="sidenav" [mode]="media.isActive('gt-xs') ? 'side' : 'over'" [opened]="opened_sidenav">
            <mat-list>
                <a mat-list-item *ngFor="let tool of wiki_list" (click)="changeSelected(tool)">{{tool.label}}</a>
            </mat-list>
        </mat-drawer>

        <div class="sidenav-content">
            <ng-container *ngFor="let wiki of wiki_list">
                <ng-container *ngIf="wiki.selected">
                    <ng-container *ngComponentOutlet="wiki.component"></ng-container>
                </ng-container>
            </ng-container>
        </div>

    </mat-drawer-container>
</div>
