@use '../../../../public/scss/variables';

:host {
    display: contents;

    .mho-last-update {
        white-space: nowrap;

        img {
            cursor: pointer;
            vertical-align: bottom;
            margin: 0 0.5em;
        }
    }
}
