@use 'sass:map';
@use '@angular/material' as mat;

@use 'pumpkin';
@use 'spiders';
@use 'ghost';


$theme-primary: mat.m2-define-palette(mat.$m2-deep-orange-palette);
$theme-accent: mat.m2-define-palette(mat.$m2-grey-palette, 900);
$theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

$halloween-theme: mat.m2-define-dark-theme(
        (
            color: (
                primary: $theme-primary,
                accent: $theme-accent,
                warn: $theme-warn,
            )
        )
);

@mixin halloween-theme($theme) {
    $color-config: mat.m2-get-color-config($theme);

    $primary: mat.m2-get-color-from-palette(map.get($color-config, "primary"));
    $accent: mat.m2-get-color-from-palette(map.get($color-config, "accent"));

    $footer-color: mat.m2-get-color-from-palette(map.get($color-config, "primary"), 900);
    $sidenav-bg-color: mat.m2-get-color-from-palette(map.get($color-config, "accent"), 700);
    $item-color: rgba($primary, 0.25);
    $map-details-color: mat.m2-get-color-from-palette(map.get($color-config, "accent"), 800);
    $card-background-color: mat.m2-get-color-from-palette(map.get($color-config, "accent"), 800);
    $switch-selected-accent-icon-color: mat.m2-get-contrast-color-from-palette(map.get($color-config, "accent"), A100);

    --primary: #{$primary};
    --accent: #{$accent};

    --footer-color: #{$footer-color};
    --sidenav-bg-color: #{$sidenav-bg-color};
    --item-color: #{$item-color};
    --map-details-color: #{$map-details-color};
    --card-background-color: #{$card-background-color};
    --switch-selected-accent-icon-color: #{$switch-selected-accent-icon-color};

    --scrollbar-base-color: rgba(0, 0, 0, 0.3);
    --scrollbar-hover-color: rgba(0, 0, 0, 0.4);
    --scrollbar-active-color: rgba(0, 0, 0, 0.5);

    --inactive-chip-base-color: rgba(0, 0, 0, 0.15);
    --img-shadow-color: rgba(255, 255, 255, 0.15);

    --accented-background-color: rgba(0, 0, 0, 0.15);

    .mho-last-update {
        img {
            filter: brightness(50%);
        }
    }
}
