@use '@angular/material' as mat;

@use 'brown-dark-theme';
@use 'noel-theme';
@use 'halloween-theme';
@use 'pink-light-theme';

@use 'variables';

@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

.cdk-overlay-container,
.mho-main {

    @include mat.all-component-themes(brown-dark-theme.$default-theme);
    @include brown-dark-theme.brown-dark-theme(brown-dark-theme.$default-theme);

    &.pink {
        @include mat.all-component-colors(pink-light-theme.$pink-theme);
        @include pink-light-theme.pink-light-theme(pink-light-theme.$pink-theme);
    }

    &.noel {
        @include mat.all-component-colors(noel-theme.$noel-theme);
        @include noel-theme.noel-theme(noel-theme.$noel-theme);
    }

    &.halloween {
        @include mat.all-component-colors(halloween-theme.$halloween-theme);
        @include halloween-theme.halloween-theme(halloween-theme.$halloween-theme);
    }


    --mdc-icon-button-icon-size: 16px !important;
    --mdc-checkbox-state-layer-size: 32px !important;

    .mat-mdc-list-base {
        --mdc-list-list-item-one-line-container-height: 40px !important;
        --mdc-list-list-item-two-line-container-height: 56px !important;
        --mdc-list-list-item-three-line-container-height: 80px !important;
    }

    .mat-mdc-tab-header {
        --mdc-secondary-navigation-tab-container-height: 40px !important;
    }

    .mat-mdc-form-field.compact-field {
        .mdc-text-field--outlined {
            .mat-mdc-form-field-infix {
                --mat-form-field-container-vertical-padding: 8px !important;
                min-height: unset;
            }

            .mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
                top: 20px !important;
            }
        }
    }

    .mat-mdc-dialog-container {
        --mdc-dialog-container-color: #{variables.$card-background-color} !important;
    }

    .mat-mdc-menu-panel {
        --mat-menu-container-color: #{variables.$card-background-color} !important;
    }

    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled):not(.mat-mdc-chip-highlighted) {
        --mdc-chip-elevated-container-color: #{variables.$inactive-chip-base-color} !important;
    }

    .mat-toolbar.mho-footer {
        --mat-toolbar-container-background-color: #{variables.$footer-color} !important;
    }

    .mat-mdc-select-panel {
        --mat-select-panel-background-color: #{variables.$card-background-color};
    }

    .mat-mdc-slide-toggle.mat-accent {
        --mdc-switch-selected-icon-color: #{variables.$switch-selected-accent-icon-color};
    }

    .mat-mdc-table {
        --mat-table-background-color: #{variables.$card-background-color};
    }

    .mat-expansion-panel {
        --mat-expansion-container-background-color: #{variables.$card-background-color};
    }


    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: variables.$card-background-color !important;
    }

    .mdc-text-field {
        --mdc-filled-text-field-disabled-container-color: variables.$card-background-color;
        --mdc-filled-text-field-container-color: variables.$card-background-color;
    }
}
