@if (digs) {
    <div class="mho-map-update-digs">
        <mho-header-with-number-previous-next-filter class="previous-next" [(filterValue)]="selected_day" [min]="1" [max]="current_day"
                                                     [displayFirstLast]="true">
        </mho-header-with-number-previous-next-filter>

        <table>
            <thead>
            <th>
                @if ((allCitizens | notInListCitizenDig:digs).length > 0) {
                    <button mat-button type="button" [matMenuTriggerFor]="addCitizenMenu">
                        <ng-container i18n>Ajouter un citoyen</ng-container>
                    </button>
                }
            </th>
            <th i18n>Fouilles réussies</th>
            <th i18n>Fouilles totales</th>
            <th></th>
            </thead>
            <tbody>
                @for (displayed_dig of digs|digsPerDay:selected_day; track displayed_dig) {
                    <tr>
                        <th class="name">
                            {{ displayed_dig.digger_name }}
                        </th>
                        <td class="success">
                            <mat-form-field class="no-bottom">
                                <input matInput type="number" [(ngModel)]="displayed_dig.nb_success">
                            </mat-form-field>
                        </td>
                        <td class="total">
                            <mat-form-field class="no-bottom">
                                <input matInput type="number" [(ngModel)]="displayed_dig.nb_total_dig">
                            </mat-form-field>
                        </td>
                        <td class="remove">
                            <button mat-icon-button type="button" (click)="removeCitizen(displayed_dig.digger_id)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <mat-menu #addCitizenMenu="matMenu">
            <mat-list class="mho-add-citizen-list">
                @for (citizen of (allCitizens | notInListCitizenDig:digs); track citizen.id) {
                    <mat-list-item (click)="addCitizen(citizen)">
                        <mho-citizen-info [displayJob]="true" [displayShunStatus]="false" [displayPseudoMode]="'simple'"
                                          [citizen]="citizen"></mho-citizen-info>
                    </mat-list-item>
                }
            </mat-list>
        </mat-menu>
    </div>
}
