@use 'variables';

.mho-registry {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 12px);

    .registry-paste {
        margin-top: 1em;
        min-width: 400px;
        max-width: 500px;
        height: 100%;
        font-size: 12px;

        .mat-mdc-form-field-flex {
            height: 100%;

            .mat-mdc-form-field-infix {
                height: 100%;

                textarea {
                    height: 100%;
                    resize: none;
                }
            }
        }
    }

    .actions {
        width: 50px;

        .mat-mdc-icon-button {
            --mdc-icon-button-icon-size: 16;

            &.active {
                background-color: variables.$item_color;
            }
        }
    }

    .result {
        flex: 1;
        height: 100%;
        overflow: auto;
        min-width: 400px;
    }
}
