<div class="mho-registry">
    <div class="display-pseudo-mode">
        <mat-button-toggle-group [(ngModel)]="display_pseudo" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="simple">Pseudo</mat-button-toggle>
            <mat-button-toggle value="mh_id">Identifiant MyHordes</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="form">
        <div class="form-content">
            <mat-form-field appearance="outline" class="registry-paste no-bottom">
                <mat-label i18n>Coller le contenu du registre à analyser</mat-label>
                <textarea matInput [(ngModel)]="registry" (ngModelChange)="readLogs(this.display_mode)"></textarea>
            </mat-form-field>
            @if (registry && registry !== '') {
                <div class="actions">
                    <div class="start">
                        @for (tab of tabs; track tab.mode) {
                            <button mat-icon-button type="button" [class.active]="display_mode === tab.mode" (click)="readLogs(tab.mode)"
                                    [matTooltip]="tab.label" matTooltipPosition="before">
                                <img [ngSrc]="HORDES_IMG_REPO + tab.img" width="16" height="16" [disableOptimizedSrcset]="true">
                            </button>
                        }
                    </div>
                    <div class="end">
                        <button mat-icon-button type="button" (click)="registry = undefined; registry_entries = undefined; display_mode = undefined"
                                matTooltip="Vider le champ" matTooltipPosition="before" i18n-matTooltip>
                            <img [ngSrc]="HORDES_IMG_REPO + 'emotes/trash.gif'" width="16" height="16" [disableOptimizedSrcset]="true">
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="result">
            @switch (display_mode) {
                @case ('plays') {
                    <mho-registry-dice-cards [completeCitizenList]="complete_citizen_list"
                                             [registry]="registry_entries" [displayPseudo]="display_pseudo"></mho-registry-dice-cards>
                }
                @case ('digs') {
                    <mho-registry-digs [completeCitizenList]="complete_citizen_list"
                                       [registry]="registry_entries" [displayPseudo]="display_pseudo"></mho-registry-digs>
                }
                @case ('bank_diff') {
                    <mho-registry-bank-diff [completeCitizenList]="complete_citizen_list"
                                            [completeItemsList]="complete_items_list"
                                            [registry]="registry_entries" [displayPseudo]="display_pseudo"></mho-registry-bank-diff>
                }
                @case ('well') {
                    <mho-registry-well [completeCitizenList]="complete_citizen_list"
                                       [registry]="registry_entries" [displayPseudo]="display_pseudo"></mho-registry-well>
                }
                @case ('doors') {
                    <mho-registry-doors [completeCitizenList]="complete_citizen_list"
                                        [registry]="registry_entries" [displayPseudo]="display_pseudo"></mho-registry-doors>
                }
                @case ('telescope') {
                    <mho-registry-telescope [completeCitizenList]="complete_citizen_list"
                                            [registry]="registry_entries" [displayPseudo]="display_pseudo"></mho-registry-telescope>
                }
                @case ('flag') {
                    <mho-registry-flag [completeCitizenList]="complete_citizen_list"
                                       [registry]="registry_entries" [displayPseudo]="display_pseudo"></mho-registry-flag>
                }
                @case ('buildings') {
                    <mho-registry-buildings [completeCitizenList]="complete_citizen_list"
                                            [registry]="registry_entries" [displayPseudo]="display_pseudo"></mho-registry-buildings>
                }
            }
        </div>
    </div>
</div>
