<div class="mho-registry">
    <mat-form-field appearance="outline" class="registry-paste">
        <mat-label i18n>Coller le contenu du registre à analyser</mat-label>
        <textarea matInput [(ngModel)]="registry"></textarea>
    </mat-form-field>
    <div class="actions" *ngIf="registry">
        <button mat-icon-button [class.active]="display_mode === 'dice'" (click)="readLogs('dice')" matTooltip="Dés" i18n-matTooltip>
            <img [ngSrc]="HORDES_IMG_REPO + 'item/item_dice.gif'" width="16" height="16">
        </button>
        <button mat-icon-button [class.active]="display_mode === 'card'" (click)="readLogs('card')" matTooltip="Cartes" i18n-matTooltip>
            <img [ngSrc]="HORDES_IMG_REPO + 'item/item_cards.gif'" width="16" height="16">
        </button>
        <button [class.active]="display_mode === 'bank_diff'" mat-icon-button (click)="readLogs('bank_diff')" matTooltip="Différenciel de la banque"
                i18n-matTooltip>
            <img [ngSrc]="HORDES_IMG_REPO + 'icons/home.gif'" width="16" height="16">
        </button>
        <button [class.active]="display_mode === 'well'" mat-icon-button (click)="readLogs('well')" matTooltip="Prises dans le puits"
                i18n-matTooltip>
            <img [ngSrc]="HORDES_IMG_REPO + 'icons/small_well.gif'" width="16" height="16">
        </button>
        <button *ngIf="dev_mode" [class.active]="display_mode === 'digs'" mat-icon-button (click)="readLogs('digs')" matTooltip="Fouilles"
                i18n-matTooltip>
            <img [ngSrc]="HORDES_IMG_REPO + 'building/small_dig.gif'" width="16" height="16">
        </button>
    </div>
    <div class="result">
        <ng-container [ngSwitch]="display_mode">
            <ng-container *ngSwitchCase="'dice'">
                <ng-container *ngTemplateOutlet="diceCards"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'card'">
                <ng-container *ngTemplateOutlet="diceCards"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'digs'">
                <ng-container *ngTemplateOutlet="digs"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'bank_diff'">
                <ng-container *ngTemplateOutlet="bankDiff"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="'well'">
                <ng-container *ngTemplateOutlet="well"></ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #diceCards>
    <div class="dice">
        <div class="citizen-use-dice">
            <h4 i18n>Ont joué</h4>
            <div *ngFor="let citizen of entries | citizenUseDiceOrCards:complete_citizen_list">
                {{citizen}}
            </div>
        </div>
        <div class="citizen-dont-use-dice">
            <h4 i18n>N'ont pas joué</h4>
            <div *ngFor="let citizen of entries | citizenUseDiceOrCards:complete_citizen_list: true">
                {{citizen}}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #digs>
</ng-template>

<ng-template #bankDiff>
    <div class="bank-diff">
        <mat-slide-toggle #diffToggle i18n>Afficher uniquement la différence</mat-slide-toggle>
        <div *ngIf="(entries | bankCleanEntries:give_keywords:complete_citizen_list:complete_items_list:diffToggle.checked) as cleanEntries">
            <div class="taken">
                <h4 i18n>Ont été pris</h4>
                <ng-container *ngFor="let entry of cleanEntries | bankDiff:'take'">
                    <div *ngIf="entry.item">
                        <div *ngIf="entry.item" class="entry">
                            [{{entry.hour}}]
                            <img [ngSrc]="HORDES_IMG_REPO + entry.item.img" width="16" height="16">
                            <div>{{entry.item.label[locale]}}<small *ngIf="entry.citizen">&nbsp;-&nbsp;{{entry.citizen.name}}</small></div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="gifted">
                <h4 i18n>Ont été donnés</h4>
                <ng-container *ngFor="let entry of cleanEntries | bankDiff:'gift'">
                    <div *ngIf="entry.item" class="entry">
                        [{{entry.hour}}]
                        <img [ngSrc]="HORDES_IMG_REPO + entry.item.img" width="16" height="16">
                        <div>{{entry.item.label[locale]}}<small *ngIf="entry.citizen">&nbsp;-&nbsp;{{entry.citizen.name}}</small></div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #well>
    <div class="well" *ngFor="let rations of entries | well:complete_citizen_list">
        <h4 class="rations">{{rations.rations}} {rations.rations, plural, =0 {ration prise} =1 {ration prise} other {rations prises}}</h4>
        <div class="citizen">{{rations.citizen}}</div>
        <mat-divider></mat-divider>
    </div>
</ng-template>
