<td #cellHtml class="cell map-cell" [class.town]="cell.is_town" [class.visited-today]="cell.is_visited_today"
    [class.never-visited]="cell.is_never_visited"
    [ngClass]="[options.map_type === 'danger' ? 'danger-' + cell.danger_level : '', 'dig-' + (cell|digLevel:options.dig_mode), cell.zone_regen ? cell.zone_regen.value.class : '']"
    [class.alert]="options.map_type === 'danger'" [class.digs]="options.map_type === 'digs'"
    [class.scrut-border-left]="cell|scrutBorderLeft:options:drawedMap"
    [class.scrut-border-top]="cell|scrutBorderTop:options:drawedMap"
    [class.scrut-border-right]="cell|scrutBorderRight:options:drawedMap"
    [class.scrut-border-bottom]="cell|scrutBorderBottom:options:drawedMap">
    <!--(click)="openCellUpdate(cell)" (mouseenter)="current_cell = cell" (mouseleave)="current_cell = undefined">-->

    <div *ngIf="cell.ruin_id" [class]="'ruin'">
        <span [class.empty-ruin]="cell.is_ruin_dryed">
            <ng-container *ngIf="cell | isRuin:allRuins">R</ng-container>
            <ng-container *ngIf="cell.nb_ruin_dig"><img [src]="HORDES_IMG_REPO + 'building/small_dig.gif'"><span class="nb-digs">{{cell.nb_ruin_dig}}</span></ng-container>
        </span>
    </div>

    <div *ngIf="cell.is_dryed" [class]="'dried'">
    </div>

    <div *ngIf="cell|myCell" [class]="'my-cell'">
    </div>

    <div [class.dist-border-left]="cell|distBorderLeft:options:drawedMap"
    [class.dist-border-top]="cell|distBorderTop:options:drawedMap"
    [class.dist-border-right]="cell|distBorderRight:options:drawedMap"
    [class.dist-border-bottom]="cell|distBorderBottom:options:drawedMap"></div>

    <div class="content" *ngIf="!cell.is_town">
        <span class="corner-top-left corner">
        </span>
        <span class="corner-top-right corner">
            <ng-container *ngIf="options.map_type === 'digs'">
                {{((options.dig_mode === 'max' ? cell.max_potential_remaining_dig :
                cell.average_potential_remaining_dig) - cell.total_success) | number:'1.0-0':locale}}
            </ng-container>
        </span>
        <span class="corner-bottom-left corner">
            <div *ngIf="options.map_type === 'danger'">
                <img [src]="HORDES_IMG_REPO + 'icons/map/map_icon_splatter.png'">
                <span class="detail-value">{{cell.nb_zombie_killed || 0}}</span>
            </div>
        </span>
        <span class="corner-bottom-right corner">
            <div *ngIf="options.map_type === 'danger'">
                <img [src]="HORDES_IMG_REPO + 'icons/small_zombie.gif'">
                <span class="detail-value">{{cell.nb_zombie || 0}}</span>
            </div>
        </span>
    </div>
</td>

<mho-map-cell-details *ngIf="current_cell" [cell]="current_cell" [allItems]="allItems" [allRuins]="allRuins"
    [cellHtml]="cellHtml" [allCitizens]="allCitizens">
</mho-map-cell-details>
