// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'sass:map';
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette(mat.$brown-palette, 800);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as 'color' or 'typography'.
$default-theme: mat.define-light-theme(
    (
        color: (
            primary: $theme-primary,
            accent: $theme-accent,
            warn: $theme-warn,
        ),
        density: -2
    )
);

@mixin default-theme($theme) {
    $color-config: mat.get-color-config($theme);

    $primary: mat.get-color-from-palette(map.get($color-config, "primary"));
    $accent: mat.get-color-from-palette(map.get($color-config, "accent"));

    $footer-color: mat.get-color-from-palette(map.get($color-config, "primary"), "darker");
    $sidenav-bg-color: mat.get-color-from-palette(map.get($color-config, "primary"), "lighter");
    $item-color: rgba($primary, 0.25);
    $map-details-color: mat.get-color-from-palette(map.get($color-config, "primary"), 50);

    --primary: #{$primary};
    --accent: #{$accent};

    --footer-color: #{$footer-color};
    --sidenav-bg-color: #{$sidenav-bg-color};
    --item-color: #{$item-color};
    --map-details-color: #{$map-details-color};
}
