@use 'sass:map';
@use '@angular/material' as mat;

$theme-primary: mat.define-palette(mat.$pink-palette, 800);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme-warn: mat.define-palette(mat.$red-palette);

$pink-theme: mat.define-light-theme(
    (
        color: (
            primary: $theme-primary,
            accent: $theme-accent,
            warn: $theme-warn,
        ),
        density: -2
    )
);

@mixin pink-theme($theme) {
    $color-config: mat.get-color-config($theme);

    $primary: mat.get-color-from-palette(map.get($color-config, "primary"));
    $accent: mat.get-color-from-palette(map.get($color-config, "accent"));

    $footer-color: mat.get-color-from-palette(map.get($color-config, "primary"), "darker");
    $sidenav-bg-color: mat.get-color-from-palette(map.get($color-config, "primary"), "lighter");
    $item-color: rgba($primary, 0.25);
    $map-details-color: mat.get-color-from-palette(map.get($color-config, "primary"), 50);

    --primary: #{$primary};
    --accent: #{$accent};

    --footer-color: #{$footer-color};
    --sidenav-bg-color: #{$sidenav-bg-color};
    --item-color: #{$item-color};
    --map-details-color: #{$map-details-color};
}
