@use "@angular/material" as mat;

@use "brown-dark-theme";
@use "noel-theme";
@use "pink-light-theme";

@use "variables";

@include mat.all-component-typographies();
@include mat.core();

.cdk-overlay-container,
.mho-main {

    @include mat.all-component-themes(brown-dark-theme.$default-theme);
    @include brown-dark-theme.brown-dark-theme(brown-dark-theme.$default-theme);

    &.pink {
        @include mat.all-component-colors(pink-light-theme.$pink-theme);
        @include pink-light-theme.pink-light-theme(pink-light-theme.$pink-theme);
    }

    &.noel {
        @include mat.all-component-colors(noel-theme.$noel-theme);
        @include noel-theme.noel-theme(noel-theme.$noel-theme);
    }


    --mdc-icon-button-icon-size: 16px !important;
    --mdc-checkbox-state-layer-size: 32px !important;

    .mat-mdc-list-base {
        --mdc-list-list-item-one-line-container-height: 40px !important;
        --mdc-list-list-item-two-line-container-height: 56px !important;
        --mdc-list-list-item-three-line-container-height: 80px !important;
    }

    .mat-mdc-tab-header {
        --mdc-secondary-navigation-tab-container-height: 40px !important;
    }


    .mat-mdc-dialog-container {
        --mdc-dialog-container-color: #{variables.$card-background-color} !important;
    }

    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled):not(.mat-mdc-chip-highlighted) {
        --mdc-chip-elevated-container-color: #{variables.$inactive-chip-base-color} !important;
    }
}
