@for (rations of entries | well:completeCitizenList(); track rations) {
    <div class="well">
        <h4 class="rations">{{ rations.rations }} {rations.rations, plural, =0 {ration prise} =1 {ration prise} other {rations prises}}</h4>
        @for (citizen of rations.citizen; track citizen; let index = $index) {
            <mho-citizen-info displayShunStatus [displayPseudoMode]="displayPseudo()" [citizen]="citizen"></mho-citizen-info>
            @if (index < rations.citizen.length - 1) {
                <span>,&nbsp;</span>
            }
        }
        <mat-divider></mat-divider>
    </div>
}
