<mat-card-header>
    <mat-card-title i18n>Citoyens</mat-card-title>
</mat-card-header>
<mat-card-content class="mho-citizens">
    <nav mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="start" [tabPanel]="panel">
        <a mat-tab-link *ngFor="let link of links" [routerLink]="[link.link]" routerLinkActive="mdc-tab--active mdc-tab-indicator--active"
           [routerLinkActiveOptions]="{exact : true}">
            {{link.label}}
        </a>
    </nav>

    <mat-tab-nav-panel #panel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>
</mat-card-content>
