@use "variables";

.mho-footer {
    overflow-x: auto;
    overflow-y: hidden;

    min-height: 52px !important;

    .mat-toolbar-row {
        height: 24px !important;
        font-size: 12px !important;
        font-weight: normal !important;
        overflow-x: hidden !important;

        &:first-child {
            margin-top: auto;
        }

        &:last-child {
            margin-bottom: auto;
        }

        a {
            text-transform: capitalize;
            text-decoration: none;
            color: inherit;
            cursor: pointer;

            &:hover {
                color: variables.$accent;
            }
        }

        > * {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
