<mat-toolbar class="mho-footer" color="primary">
    <mat-toolbar-row>
        <div>
            <ng-container i18n>Développé par&nbsp;<a href="{{myhordes_url}}jx/soul/6042">Zerah</a>&nbsp;et&nbsp;<a
                href="{{myhordes_url}}jx/soul/6173">Renack</a>
            </ng-container>
            <ng-container *ngTemplateOutlet="spacer"></ng-container>
            <a href="https://discord.gg/ZQH7ZPWcCm" target="_blank">Discord</a>
            <ng-container *ngTemplateOutlet="spacer"></ng-container>
            <a (click)="openThanks()" i18n>Remerciements</a>
            <ng-container *ngTemplateOutlet="spacer"></ng-container>
            <a href="https://crowdin.com/project/myhordes-optimizer/invite?h=48c7b7811f6a618b31fd08945414e12d1646847" target="_blank">Crowdin</a>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div>
            <ng-container i18n>Ce site n'est pas affilié à&nbsp;<a href="https://motion-twin.com/fr/" target="_blank">Motion Twin</a>&nbsp;ou à&nbsp;<a
                href="https://myhord.es" target="_blank">MyHordes</a></ng-container>
            <ng-container *ngTemplateOutlet="spacer"></ng-container>
            <ng-container i18n>Certains éléments graphiques appartiennent à&nbsp;<a href="https://motion-twin.com/fr/" target="_blank">Motion Twin</a>&nbsp;ou à&nbsp;<a
                href="https://myhord.es" target="_blank">MyHordes</a></ng-container>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template #spacer>
    <span style="margin-left: 1em; margin-right: 1em;">-</span>
</ng-template>
