<mat-card-header class="mho-thirst-management-header">
    <mat-card-title>
        <ng-container i18n>Gestion des états</ng-container>
    </mat-card-title>
</mat-card-header>
<mat-card-content>
    <div class="mho-thirst-management">
        @for (state of states_and_actions; track $index) {
            @if (state.type === 'state') {
                <div>State</div>
            } @else {
                <div>Action</div>
            }
        }
        <div (click)="addAction();">+</div>
    </div>
</mat-card-content>
