<mat-toolbar class="mho-navbar" color="primary">
    <button mat-icon-button type="button" (click)="changeSidenavStatus.next();">
        <mat-icon>menu</mat-icon>
    </button>
    <img [src]="'assets/img/logo/logo_mho_64x64.png'" height="56px" width="56px">
    <div class="title">{{media.isActive('gt-sm') ? title : 'MHO'}}</div>
    <!-- <span *ngIf="!external_app_id_field_value"> -->
    <span class="spacer"></span>
    <mat-form-field *ngIf="!saved_external_app_id" class="external-app-id-input">
        <mat-label for="external-app-id" i18n>Identifiant d'app externe</mat-label>
        <input id="external-app-id" matInput type="text" [(ngModel)]="external_app_id_field_value">
        <button matSuffix mat-icon-button (click)="saveExternalAppId();" [disabled]="!external_app_id_field_value">
            <mat-icon>check</mat-icon>
        </button>
    </mat-form-field>
    <a mat-button *ngIf="saved_external_app_id" (click)="updateExternalTools()" i18n>Mettre à jour les outils externes</a>
</mat-toolbar>
