.mho-navbar {

    height: 52px !important;
    .title {
        margin-right: 1em;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .external-app-id-input {
        width: 250px;
        font-size: 12px;
        margin-top: 8px;
        button {
            font-size: 24px;
        }
    }

    a.mat-button {
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        outline: none;
        border: none;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0;
        min-width: 64px;
        line-height: 36px;
        padding: 0 16px;
        border-radius: 4px;
        overflow: visible;

        /** Désactive la sélection par l'utilisateur */
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        &.is-active {
            background: rgba(0, 0, 0, 0.2);
        }
    }
}
