<div class="telescope">
    @let citizens_taken = entries | citizenTakeTelescope:completeCitizenList():'taken';
    @let citizens_not_taken = entries | citizenTakeTelescope:completeCitizenList():'not-taken';
    <div class="taken">
        <h4>
            <ng-container i18n>Ont pris le télescope</ng-container>
            ({{ citizens_taken.length }})
        </h4>
        <div>
            @for (citizen of citizens_taken; track citizen) {
                <div>
                    <mho-citizen-info displayShunStatus [displayPseudoMode]="displayPseudo()" [citizen]="citizen"></mho-citizen-info>
                </div>
            }
        </div>
    </div>
    <div class="not-taken">
        <h4>
            <ng-container i18n>N'ont pas pris le télescope</ng-container>
            ({{ citizens_not_taken.length }})
        </h4>
        @for (citizen of citizens_not_taken; track citizen) {
            <div>
                <mho-citizen-info displayShunStatus [displayPseudoMode]="displayPseudo()" [citizen]="citizen"></mho-citizen-info>
            </div>
        }
    </div>
</div>
