<div class="bank-diff">
    <mat-slide-toggle #diffToggle i18n>Afficher uniquement la différence</mat-slide-toggle>
    @if (entries | bankCleanEntries:give_keywords:completeCitizenList():completeItemsList():diffToggle.checked; as cleanEntries) {
        <div>
            <div class="taken">
                <h4 i18n>Ont été pris</h4>
                @for (entry of cleanEntries | bankDiff:'take'; track entry) {
                    @if (entry.item) {
                        <div>
                            <div class="entry">
                                [{{ entry.hour }}]
                                <img [ngSrc]="HORDES_IMG_REPO + entry.item.img" width="16" height="16">
                                <div>{{ entry.item.label[locale] }}
                                    @if (entry.citizen) {
                                        <small>&nbsp;-&nbsp;<mho-citizen-info displayShunStatus
                                                                              [displayPseudoMode]="displayPseudo()"
                                                                              [citizen]="entry.citizen"></mho-citizen-info>
                                        </small>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="gifted">
                <h4 i18n>Ont été donnés</h4>
                @for (entry of cleanEntries | bankDiff:'gift'; track entry) {
                    @if (entry.item) {
                        <div class="entry">
                            [{{ entry.hour }}]
                            <img [ngSrc]="HORDES_IMG_REPO + entry.item.img" width="16" height="16">
                            <div>{{ entry.item.label[locale] }}
                                @if (entry.citizen) {
                                    <small>&nbsp;-&nbsp;<mho-citizen-info displayShunStatus [displayPseudoMode]="displayPseudo()"
                                                                          [citizen]="entry.citizen"></mho-citizen-info>
                                    </small>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>
