:host {
    display: contents;

    .bank-diff {
        width: 100%;
        height: calc(100% - 12px);

        > div {
            display: flex;
            gap: 1em;
            height: calc(100% - 20px);

            > div {
                flex: 1;
                display: flex;
                flex-direction: column;

                > div {
                    height: 100%;
                    overflow: auto;
                }

                .entry {
                    display: flex;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 0.5em;

                    > div {
                        flex: 1;
                    }
                }
            }
        }
    }
}
