@import "variables.scss";

.mho-citizens {
    table {
        width: 100%;

        tr {

            >td {
                padding: 0 0.5em;

                &.avatar {
                    >img {
                        width: 100px;
                        height: 100px;
                    }
                }

                &:not(.avatar) {
                    padding: 0.5em;
                }

                .lvl-element {
                    width: 50%;
                    display: inline-block;

                    .mat-form-field {
                        width: 100%
                    }
                }
            }
        }

        .table-filters {
            display: flex;
            justify-content: space-between;
        }
    }
}
