<mat-card-header>
    <mat-card-title i18n>Citoyens</mat-card-title>
</mat-card-header>
<mat-card-content class="mho-citizens">
    <ng-container *ngIf="citizen_info">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="datasource" matSort>

                <ng-container matColumnDef="filters">
                    <td mat-header-cell *matHeaderCellDef colspan="6">
                        <div class="table-filters">
                            <mho-filter (filterChange)="applyFilter($event)"></mho-filter>
                        </div>
                    </td>
                </ng-container>

                <ng-container *ngFor="let column of columns" [matColumnDef]="column.id" [sticky]="column.id === 'name'">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</th>

                    <td mat-cell *matCellDef="let row" [ngClass]="[column.id]">
                        <ng-container [ngSwitch]="column.id">
                            <ng-container *ngSwitchCase="'avatar'">
                                <img *ngIf="row.avatar" [src]="row.avatar" />
                            </ng-container>
                            <ng-container *ngSwitchCase="'name'">
                                {{row.name}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'home_message'">
                                {{row.home_message}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'bag'">
                                <div class="bag-container">
                                    <div class="bag">
                                        <ng-container *ngFor="let item of row.bag.items">
                                            <img *ngFor="let i of [].constructor(item.count)"
                                                [src]="HORDES_IMG_REPO + item.item.img">
                                        </ng-container>
                                    </div>
                                    <div class="add-remove">
                                        <img [src]="HORDES_IMG_REPO + 'icons/small_more.gif'"
                                            [mat-menu-trigger-for]="menuAdd">
                                        <img [src]="HORDES_IMG_REPO + 'icons/small_less.gif'"
                                            *ngIf="row.bag.items.length > 0" [mat-menu-trigger-for]="menuRemove">

                                        <mat-menu #menuAdd="matMenu" class="menu-add">
                                            <div class="search" (click)="$event.stopPropagation()">
                                                <mat-form-field>
                                                    <mat-label i18n>Ajouter au sac</mat-label>
                                                    <input matInput #searchItem>
                                                </mat-form-field>
                                            </div>
                                            <div class="items">
                                                <ng-container *ngFor="let item of all_items">
                                                    <img *ngIf="item.label[locale].startsWith(searchItem.value)"
                                                        [src]="HORDES_IMG_REPO + item.img"
                                                        (click)="addItem(row.id, item.id)">
                                                </ng-container>
                                            </div>
                                        </mat-menu>
                                        <mat-menu #menuRemove="matMenu" class="menu-remove">
                                            <div class="search" (click)="$event.stopPropagation()">
                                                <mat-form-field>
                                                    <mat-label i18n>Retirer du sac</mat-label>
                                                    <input matInput #searchItem>
                                                </mat-form-field>
                                            </div>
                                            <div class="items">
                                                <ng-container *ngFor="let item of row.bag.items">
                                                    <img *ngFor="let i of [].constructor(item.count)"
                                                        [src]="HORDES_IMG_REPO + item.item.img"
                                                        (click)="removeItem(row.id, item.item.id)">
                                                </ng-container>
                                            </div>
                                            <div mat-menu-item class="empty-bag" (click)="emptyBag(row.id)">
                                                <img [src]="HORDES_IMG_REPO + 'icons/b_close.png'" style="margin-right: 0.5em">
                                                <span i18n>Vider le sac</span>
                                            </div>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div>
                                    <mho-last-update [lastUpdateInfo]="row.bag" [thresholds]="[30, 120, 120*2, 120*3]"></mho-last-update>
                                </div>
                            </ng-container>

                        </ng-container>
                    </td>
                </ng-container>

                <!-- Footer -->
                <!--                    <ng-container matColumnDef="save">
                            <td mat-footer-cell *matFooterCellDef style="text-align: right;" colspan="6">
                                <button mat-button [color]="'accent'" (click)="updateCitizens()" i18n>Enregistrer</button>
                            </td>
                        </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="['filters']; sticky: true"></tr>
                <tr mat-header-row *matHeaderRowDef="columns_ids; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columns_ids;"></tr>
                <!-- <tr mat-footer-row *matFooterRowDef="['save']; sticky: true"></tr> -->

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">
                        <ng-container
                            *ngIf="filterInput && filterInput.nativeElement.value && filterInput.nativeElement.value !== ''; else emptyTable">
                            <ng-container *i18n> objet ne correspond au filtre
                                "{{filterInput.nativeElement.value}}"</ng-container>
                        </ng-container>
                        <ng-template #emptyTable>
                            <ng-container i18n>La liste est vide</ng-container>
                        </ng-template>
                    </td>
                </tr>
            </table>
        </div>
    </ng-container>
</mat-card-content>
