<div class="mho-recipe">
    <ul class="components">
        @for (component of recipe().components; track index; let index = $index) {
            <li>
                <img [ngSrc]="HORDES_IMG_REPO + component.img" width="16" height="16">{{ component.label[locale] }}
            </li>
        }
    </ul>
    <div class="transformation"><img [ngSrc]="HORDES_IMG_REPO + 'icons/small_move.gif'" width="16" height="16"></div>
    <ul class="results">
        @for (result of recipe().result; track index; let index = $index) {
            <li>
                <img [ngSrc]="HORDES_IMG_REPO + result.item.img" width="16" height="16">
                {{ result.item.label[locale] }}
                @if (result.probability !== 1) {
                    <small>&nbsp;({{ result.probability * 100 | number:'1.0-2':locale }}%)</small>
                }
            </li>
        }
    </ul>
</div>
