<mat-card-header>
    <mat-card-title i18n>Informations diverses</mat-card-title>
</mat-card-header>
<mat-card-content class="mho-miscellaneous-info">
    <div class="container">
        @for (misc_card of misc; track misc_card) {
            <mat-card class="card">
                <mat-card-header class="card-header">
                    <mat-card-title>
                        {{ misc_card.header }}
                    </mat-card-title>
                    @if (misc_card.header_action) {
                        <button mat-icon-button (click)="misc_card.header_action.action()">
                            <mat-icon>{{ misc_card.header_action.icon }}</mat-icon>
                        </button>
                    }
                </mat-card-header>
                <mat-card-content class="content">
                    <table mat-table [dataSource]="misc_card.table">

                        @for (column of misc_card.columns; track column.id) {
                            <mat-text-column [headerText]="column.header" [name]="column.id"></mat-text-column>
                        }
                        <tr mat-header-row *matHeaderRowDef="misc_card.columns | ids; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: misc_card.columns | ids;" [class.today]="row | isTodayMiscRow:misc_card:my_town"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        }
    </div>
</mat-card-content>
