@use 'variables';

.mho-miscellaneous-info {
    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1em;

        .card {
            background-color: variables.$sidenav_bg_color !important;
            width: 300px;
            height: 400px !important;

            .card-header {
                font-variant-caps: all-small-caps;
                padding-top: 0;

                h3 {
                    margin: 0;
                    font-weight: bold;
                }
            }

            .content {
                .mat-mdc-table {
                    --mat-table-background-color: #{variables.$sidenav_bg_color};
                    --mat-table-row-item-container-height: undefined;
                    --mat-table-header-container-height: undefined;
                    --mat-table-header-headline-line-height: undefined;
                    --mat-table-header-headline-size: 0.8em;
                }
            }
        }
    }
}
