<mat-card-header>
    <mat-card-title i18n>Informations diverses</mat-card-title>
</mat-card-header>
<mat-card-content class="mho-miscellaneous-info">
    <!-- Morts par désespoir -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="despair_deaths" class="despair-deaths">
            <ng-container *ngFor="let column of despair_death_columns" [matColumnDef]="column"
                [sticky]="column === 'header'">
                <th mat-header-cell *matHeaderCellDef class="title">
                    <ng-container *ngIf="column === 'header'" i18n>Morts par désespoir</ng-container>
                </th>
                <td mat-cell *matCellDef="let row" [ngClass]="[column === 'header' ? 'header' : 'cell']">
                    {{row[column]}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="despair_death_columns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: despair_death_columns; sticky: true;"></tr>
        </table>
    </div>

    <!-- Chances de réussite du manuel -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="survivalist_book_chances" class="clean-points">
            <ng-container *ngFor="let column of survivalist_book_chances_columns" [matColumnDef]="column"
                [sticky]="column === 'header'">
                <th mat-header-cell *matHeaderCellDef class="title">
                    <ng-container *ngIf="column === 'header'" i18n>Manuel des ermites</ng-container>
                </th>
                <td mat-cell *matCellDef="let row" [ngClass]="[column === 'header' ? 'header' : 'cell']">
                    {{row[column]}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="survivalist_book_chances_columns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: survivalist_book_chances_columns; sticky: true;"></tr>
        </table>
    </div>

    <!-- Points d'âme -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="soul_points" class="soul-points">
            <ng-container *ngFor="let column of soul_points_columns" [matColumnDef]="column"
                [sticky]="column === 'header'">
                <th mat-header-cell *matHeaderCellDef class="title">
                    <ng-container *ngIf="column === 'header'" i18n>Points d'âme</ng-container>
                </th>
                <td mat-cell *matCellDef="let row" [ngClass]="[column === 'header' ? 'header' : 'cell']">
                    {{row[column]}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="soul_points_columns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: soul_points_columns; sticky: true;"></tr>
        </table>
    </div>

    <!-- Points clean -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="clean_points" class="clean-points">
            <ng-container *ngFor="let column of clean_points_columns" [matColumnDef]="column"
                [sticky]="column === 'header'">
                <th mat-header-cell *matHeaderCellDef class="title">
                    <ng-container *ngIf="column === 'header'" i18n>Points clean</ng-container>
                </th>
                <td mat-cell *matCellDef="let row" [ngClass]="[column === 'header' ? 'header' : 'cell']">
                    {{row[column]}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="clean_points_columns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: clean_points_columns; sticky: true;"></tr>
        </table>
    </div>
</mat-card-content>
