@use 'variables';

.mho-miscellaneous-info {
    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1em;

        .card {
            background-color: variables.$sidenav_bg_color !important;
            width: 300px;
            height: 400px;

            .card-header {
                font-variant-caps: all-small-caps;

                h3 {
                    margin: 0;
                    font-weight: bold;
                }
            }

            .content {
                display: flex;
                flex-direction: column;

                .title {
                    display: flex;
                    gap: 0.5em;
                    align-items: flex-start;
                    position: sticky;
                    top: 0;

                    h5 {
                        flex: 1;
                        margin: 0;
                        font-weight: bold;
                    }
                }

                .columns {
                    flex: 1;
                    display: flex;
                    overflow: auto;
                }
            }
        }
    }
}
