.mho-header-with-filter {

    max-width: 100%;

    > div {
        display: flex;
        align-items: center;
    }

    .open-menu-icon {
        width: unset !important;
        height: unset !important;
        overflow: visible !important;
        font-size: 16px !important;
        cursor: pointer;

        &.hidden {
            display: none;
        }
    }

    .mat-mdc-form-field {
        width: 100%;
    }
}
