<mat-card-header class="mho-map-header">
    <mat-card-title i18n>Carte des fouilles</mat-card-title>
    <div>
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>settings</mat-icon></button>
    </div>
</mat-card-header>
<mat-card-content class="mho-map">
    <mat-sidenav-container class="mho-map-sidenav-container">

        <mat-sidenav-content class="map-container">
            <mho-draw-map [map]="map" [allItems]="all_items" [allRuins]="all_ruins" [options]="options"></mho-draw-map>
        </mat-sidenav-content>
        <mat-sidenav #sidenav class="map-settings" [position]="'end'"
            [mode]="media.isActive('gt-xs') ? 'side' : 'over'">
            <h1 i18n>Paramètres</h1>
        <!--    <div>
                <h2 i18n>Type de carte</h2>
                <mat-chip-list>
                    <mat-chip (click)="changeOptions('map_type', 'danger')" [selected]="options.map_type === 'danger'"
                        i18n>
                        Danger
                    </mat-chip>
                    <mat-chip (click)="changeOptions('map_type', 'digs')" [selected]="options.map_type === 'digs'" i18n>
                        Fouilles
                    </mat-chip>
                </mat-chip-list>
            </div>-->
            <div *ngIf="options.map_type === 'digs'">
                <h2 i18n>Fouilles restantes</h2>
                <mat-chip-list>
                    <mat-chip (click)="changeOptions('dig_mode', 'max')" [selected]="options.dig_mode === 'max'" i18n>
                        Maximum
                    </mat-chip>
                    <mat-chip (click)="changeOptions('dig_mode', 'average')" [selected]="options.dig_mode === 'average'"
                        i18n>
                        Moyenne
                    </mat-chip>
                </mat-chip-list>
            </div>
        <!--    <div>
                <h2 i18n>Autres options</h2>
                <mat-checkbox [ngModel]="options.display_km" (ngModelChange)="changeOptions('display_km', $event)"
                    i18n>Distance avec la ville (en km)</mat-checkbox>
                <mat-checkbox [ngModel]="options.display_pa" (ngModelChange)="changeOptions('display_pa', $event)"
                    i18n>Distance avec la ville (en pa)</mat-checkbox>
            </div>
            <div>
                <h2 i18n>Afficher les zones du scrutateur</h2>
                <div class="scrut_zones">
                <mat-checkbox *ngFor="let zone of scrut_list" [ngModel]="options.displayed_scrut_zone[zone.key] !== undefined"
                    (ngModelChange)="changeScrutZone(zone, $event)">{{zone.value.label}}</mat-checkbox>
                </div>
            </div>-->
        </mat-sidenav>
    </mat-sidenav-container>

</mat-card-content>
