.mho-states-management {
    margin-top: 1rem;
    display: flex;
    gap: 32px; // Espace entre les colonnes

    .states-cards {
        flex: 1;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--primary);
        border-radius: 0.5em;
        background-color: var(--item-color);
        padding: 1em;

        h3, h4 {
            text-align: center; // Centre les titres et sous-titres
        }

        .states-cards-current {
            display: flex;
            flex-direction: column;
            gap: 10px; // Espace entre les éléments

            .states-cards-current-pipboy {
                display: flex;
                align-items: center; // Centre les éléments verticalement
                gap: 16px; // Espace entre l'image et la liste
                align-self: center;

                mat-list {
                    border: 1px solid var(--primary);
                    border-radius: 0.5em;
                    background-color: var(--item-color);
                }
            }
        }

        .states-cards-historique {
            display: flex;
            flex-direction: column;
        }
    }
}
