.mho-estimations {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5em;
        justify-content: space-between;

        .actions {
            display: flex;
            align-items: center;
        }
    }

    .tables {
        flex: 1;
        display: flex;
        justify-content: space-around;
        gap: 0.5em;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow: auto;

        table {
            margin: 0;

            td {
                text-align: right;

                .mat-mdc-form-field {
                    width: 100px;

                    .mat-mdc-text-field-wrapper {
                        padding: 0 8px;
                    }

                    .mat-mdc-form-field-infix {
                        padding: 0;
                        min-height: unset;
                    }
                }
            }
        }

        .toggler {
            text-align: right;
        }

        .canvas {
            flex: 1;
        }
    }
}
