<div class="mho-estimations">
    <div class="header">
        <mho-header-with-number-previous-next-filter class="previous-next" [(filterValue)]="selected_day" (filterValueChange)="getEstimations()"
                                                     [min]="1" [max]="current_day">
        </mho-header-with-number-previous-next-filter>
        <div class="actions">
            <button mat-icon-button matTooltip="Copier au format forum" i18n-matTooltip (click)="shareEstimsForum()">
                <mat-icon>share</mat-icon>
            </button>
            <button mat-raised-button [color]="'accent'" (click)="saveEstimations()" i18n>Enregistrer</button>
        </div>
    </div>
    <div class="tables" *ngIf="estimations">
        <table>
            <caption i18n>Attaque du jour</caption>
            <tr>
                <th i18n>Qualité</th>
                <th i18n>Min</th>
                <th i18n>Max</th>
            </tr>
            <tr *ngFor="let percent of tdg_values">
                <th>{{percent}}%</th>
                <td>
                    <input #min type="text" [min]="0" [(ngModel)]="estimations.estim['_' + percent].min" (paste)="pasteFromMH(min, max, $event)">
                </td>
                <td>
                    <input #max type="text" [min]="0" [(ngModel)]="estimations.estim['_' + percent].max" (paste)="pasteFromMH(min, max, $event)">
                </td>
            </tr>
        </table>
        <table>
            <caption i18n>Attaque du lendemain</caption>
            <tr>
                <th i18n>Qualité</th>
                <th i18n>Min</th>
                <th i18n>Max</th>
            </tr>
            <tr *ngFor="let percent of planif_values">
                <th>{{percent}}%</th>
                <td>
                    <input type="text" [min]="0" [(ngModel)]="estimations.planif['_' + percent].min">
                </td>
                <td>
                    <input type="text" [min]="0" [(ngModel)]="estimations.planif['_' + percent].max">
                </td>
            </tr>
        </table>
        <div class="canvas">
            <canvas #todayCanvas></canvas>
            <canvas #tomorrowCanvas></canvas>
        </div>
    </div>
</div>
