.mho-bank {
    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .filter {
        position: sticky;
        top: 0;
        z-index: 9999;
        background-color: white;
    }
}
