<mat-card-header>
    <mat-card-title i18n>Banque</mat-card-title>
</mat-card-header>
<mat-card-content class="mho-bank">
    <ng-container *ngIf="displayed_bank_items">
        <div class="filter">
            <mho-filter (filterChange)="filter_value = $event; applyFilters()"></mho-filter>
            <mat-form-field class="properties-filter">
                <mat-label i18n>Chercher des objets par propriétés</mat-label>
                <mho-select [multiple]="true" [options]="options" [bindLabel]="'value.label'" [(ngModel)]="select_value"
                    (filterChange)="applyFilters()">
                </mho-select>
            </mat-form-field>
        </div>
        <ul>
            <mho-item *ngFor="let bank_item of displayed_bank_items" [bankItem]="bank_item"></mho-item>
        </ul>
    </ng-container>
</mat-card-content>
