<div class="mho-map-update-ruin" *ngIf="ruin">
    <ng-container>
        <div [innerHTML]="ruin.description[locale]"></div>
        <br />
        <div><ng-container i18n>Bonus en camping</ng-container>&nbsp;:&nbsp;{{ruin.camping}}</div>
    </ng-container>
    <ng-container *ngIf="ruin.drops && ruin.drops.length > 0">
        <mat-divider></mat-divider>
        <div class="drops">
            <div *ngFor="let drop of ruin.drops">
                <img [src]="HORDES_IMG_REPO + drop.item.img">
                {{drop.item.label[locale]}}
                <small>&nbsp;({{drop.probability * 100 | number:'1.0-2':locale}}%)</small>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="ruin.id === -1">
        <mat-divider></mat-divider>
        <h4 i18n>Liste des bâtiments possibles</h4>
        <mat-list>
            <ng-container *ngFor="let ruin of (allRuins | filterRuinsByKm:cell.nb_km)">
                <mat-list-item *ngIf="ruin.id > -1">
                    <span matListItemTitle>{{ruin.label[locale]}}</span>
                    <span matListItemLine>
                        <ng-container i18n>Bonus en camping</ng-container>
                        &nbsp;:&nbsp;{{ruin.camping}}</span>
                </mat-list-item>
            </ng-container>
        </mat-list>
    </ng-container>
</div>
