.mho-map-update-ruin {
    .drops {
        display: flex;
        flex-wrap: wrap;

        >div {
            width: 50%;
            white-space: nowrap;
        }
    }

    .ruin-info {
        display: flex;
        justify-content: space-between;
    }
}
