.mho-citizens-list {
    table {
        width: 100%;

        tr {

            >td {
                padding: 0 0.5em;

                &.center {
                    text-align: center;
                }

                &.avatar_name {
                    >img {
                        width: 100px;
                        height: 100px;
                    }

                    >div {
                        text-align: center;
                        margin: auto;
                    }
                }

                &.more_status {
                    >div {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5em;

                        >div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .list-element-add-remove {
                                flex: 1;

                                .list {
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }

                .heroic-actions {
                    min-width: 300px;
                    max-width: 400px;

                    .lvl-element {
                        .mat-mdc-form-field {
                            width: 100%;
                            max-width: 100%;
                        }

                        &.full-width {
                            width: 100%;
                        }
                    }
                }

                .home {
                    min-width: 450px;

                    .lvl-element {
                        .mat-mdc-form-field {
                            width: 95%;
                            max-width: 95%;
                            .mat-form-field-infix {
                                width: 125px;
                            }

                        }

                        &.third-width {
                            width: calc(100% / 3);
                        }
                    }
                }

                .heroic-actions,
                .home {
                    .lvl-element {
                        width: 50%;
                        display: inline-block;

                        .mat-mdc-form-field {

                            .mat-mdc-form-field-infix {
                                display: flex;
                                align-items: center;
                            }

                            .mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
                                padding-left: calc(16px + 0.5em);
                            }
                        }
                    }
                }
            }

            th,
            td {
                &:not(.avatar_name) {
                    padding: 0.5em;
                }

            }
        }

        .table-filters {
            display: flex;
            justify-content: space-between;
        }
    }
}
